{% extends '../base.twig' %}

{% block title %}Электронные подарочные сертификаты{% endblock %}

{% set  giftCard = [
    {
        name: 'Подарочная карта Ozon',
        bonusNum: '500 Б',
        img: '1.jpg'
    },
    {
        name: 'Подарочная карта Ozon',
        bonusNum: '1200 Б',
        img: '2.jpg'
    },
    {
        name: 'Подарочная карта Ozon',
        bonusNum: '300 Б',
        img: '3.jpg'
    },
    {
        name: 'Подарочная карта Ozon',
        bonusNum: '2500 Б',
        img: '4.jpg'
    },
    {
        name: 'Подарочная карта Ozon',
        bonusNum: '500 Б',
        img: '1.jpg'
    },
    {
        name: 'Подарочная карта Ozon',
        bonusNum: '1200 Б',
        img: '2.jpg'
    },
    {
        name: 'Подарочная карта Ozon',
        bonusNum: '300 Б',
        img: '3.jpg'
    },
    {
        name: 'Подарочная карта Ozon',
        bonusNum: '2500 Б',
        img: '4.jpg'
    },
] %}

{% block content %}
    <section class="gifts lk _special">
        {% include '../layouts/left-menu.twig' %}
        <div class="lk__inner">
            {% include '../layouts/header-lk.twig' %}
            {% include '../modules/text-promo.twig' %}
            <div class="gifts__wrapper">
                <h2 class="gifts__wrapper-subtitle">Электронные подарочные сертификаты</h2>
                <div class="gifts__wrapper-icon">
                    <svg class="icon">
                        <use xlink:href="#bonus"/>
                    </svg>
                    <p class="gifts__wrapper-bonus-text">2 500</p>
                </div>

                <div class="gifts__card-inner">
                    {% include '../modules/gift-card.twig' %}
                </div>
            </div>
            {% include '../modules/qr.twig' %}
        </div>
    </section>
    {% include '../modules/gift-order.twig' %}
    {% include '../modal/gift-order-success.twig' %}
    {% include '../modules/qr-success.twig' %}
    {% include '../modules/qr-error.twig' %}
{% endblock %}