{% extends '../base.twig' %}

{% block title %}Команда{% endblock %}

{% block content %}
    <section class="lk _special">
        {% include '../layouts/left-menu.twig' %}
        <div class="lk__inner">
            {% include '../layouts/header-lk.twig' %}
            <div class="content-page container-helper">
                <h1>Как участвовать в бонусной программе?</h1>
                <p>Участвовать в программе просто и выгодно. Участвуй в личном и командном зачетах:</p>
                <h2>Личный зачет</h2>
                <ol>
                    <li>Нужно пройти быструю регистрацию на bridgestone-club.ru</li>
                    <li>Продавай модели шин Bridgestone, которые указаны на главной странице твоего личного кабинета на
                        сайте bridgestone-club.ru
                    </li>
                    <li>
                        После продажи открой кабинет со своего мобильного телефона и отсканируй чек о продаже
                        <img src="/assets/img/content/1.jpg" alt="">
                    </li>
                    <li>
                        Сканируй чеки о продаже с мобильного телефона. Если включается фронтальная камера, нужно нажать
                        «Сменить камеру». Помни, что в зачет идут чеки с датами продажи от 15 февраля до 25 июля 2020
                        года.
                        <img src="/assets/img/content/2.jpg" alt="">
                    </li>
                    <li>
                        После сканирования мы проверим чек на соответствие условиям программы. Если всё в порядке, ты
                        получишь бонусы. Их можно обменять на подарочный сертификаты в нашем каталоге призов в конце
                        сезона
                        <img src="/assets/img/content/3.png" alt="">
                    </li>
                </ol>
                <a class="btn _special" href="/rules.html">Полные правила участия</a>

                <h2>Командный зачет</h2>
                <ol>
                    <li>Зарегистрируй команду в разделе «Команда»</li>
                    <li>
                        Разошли ссылку-приглашение коллегам
                        <img src="/assets/img/content/4.png" alt="">
                    </li>
                    <li>
                        В вашей команде должно быть не менее 3 и не более 8 человек, чтобы участвовать в командном
                        зачете. Чем больше людей в твоей команде, тем выше шансы на победу.
                    </li>
                    <li>
                        Зарабатывать баллы для команды просто:
                        <ul>
                            <li>совершай продажи и сканируй чеки для личного зачета</li>
                            <li>проходи обучение и сдавай экзамены на максимальный балл в разделе «Обучение»</li>
                            <li>
                                помогай сдавать экзамены коллегам из твоей команды – при сдаче экзаменов на высокий балл
                                всей командой вы получите дополнительные баллы
                            </li>
                        </ul>
                    </li>
                    <li>
                        Отслеживай место своей команды в общем рейтинге. Для победы нужно войти в тройку лидеров.
                    </li>
                    <li>
                        Главный приз. Каждая команда из тройки лидеров получит сертификат на 50 000 рублей на проведение
                        корпоративного тимбилдинга на ваш выбор. Будет интересно!
                    </li>
                </ol>
                <a class="link  _border" href="/rules.html">По ссылке</a> доступны полные правила участия в бонусной программе Brigdestone Club –
                Достигай большего
            </div>
        </div>
    </section>
{% endblock %}