{% extends '../base.twig' %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="index">
    <div class="container  index__container-header">
        {% include '../modules/logo.twig' %}
        <p class="index__title-mob">
            Достигай <br> большего
        </p>
        <div class="index__btn-inner">
            <button class="index__btn  btn js-auth-btn">Вход</button>
            <button class="index__btn  btn _special js-reg-btn">
                <svg class="icon">
                    <use xlink:href="#profile"/>
                </svg>
                Регистрация
            </button>
        </div>
    </div>
    <div class="container index__container">
        <p class="index__title">
            Достигай <br> большего
        </p>

        <button class="index__promo">
            <svg class="index__promo-icon icon">
                <use xlink:href="#bonus-strong"/>
            </svg>
            <p class="index__promo-text">
                Получайте бонусы за&nbsp;продажи продукции Bridgestone
            </p>
        </button>
        <button class="index__promo">
            <svg class="index__promo-icon icon">
                <use xlink:href="#qr"/>
            </svg>
            <p class="index__promo-text">
                Зарабатывать стало проще. Просто сканируйте QR-код с&nbsp;чеков
            </p>
        </button>
        <button class="index__promo">
            <svg class="index__promo-icon icon">
                <use xlink:href="#cup-strong"/>
            </svg>
            <p class="index__promo-text">
                Соберите команду единомышленников и&nbsp;поборитесь за&nbsp;общий приз
            </p>
        </button>
        <button class="index__promo">
            <svg class="index__promo-icon icon">
                <use xlink:href="#learn-strong"/>
            </svg>
            <p class="index__promo-text">
                Проходите обучение онлайн и&nbsp;зарабатывайте баллы
            </p>
        </button>
        <button class="index__promo">
            <svg class="index__promo-icon icon">
                <use xlink:href="#star"/>
            </svg>
            <p class="index__promo-text">
                Расширенный каталог вознаграждений. Призов стало еще больше!
            </p>
        </button>
    </div>

    <div class="container  index__container-footer">
        <p class="index__copyright">
            Все права защищены &copy;&nbsp;2020 Bridgestone
        </p>
        <a class="index__link link" href="#">Полные правила программы</a>
        <a class="index__link link" href="#">Связаться с нами</a>
    </div>
    {% include '../modal/auth.twig' %}
    {% include '../modal/forgot-pass.twig' %}
    {% include '../modal/reg.twig' %}
</section>
{% endblock %}