{% extends '../base.twig' %}

{% block title %}Обучение{% endblock %}

{% block content %}
    <section class="lk _special">
        {% include '../layouts/left-menu.twig' %}
        <div class="lk__inner">
            {% include '../layouts/header-lk.twig' %}
            <div class="learn-start">
                <div class="learn-start__inner">
                    <div class="learn-start__text-wrapper container-helper">
                        <p class="learn-start__back-inner">
                            <button class="learn-start__back-btn" type="button">
                                <svg class="icon">
                                    <use xlink:href="#arrow-left"/>
                                </svg>
                            </button>
                            Назад
                        </p>
                        <p class="learn-start__title">
                            Экзамен: как правильно выбрать зимние шины, а вдруг он аж в две строки
                        </p>
                        <p class="learn-start__text">
                            С другой стороны новая модель организационной деятельности представляет собой интересный
                            эксперимент проверки систем массового участия
                        </p>
                    </div>
                    <div class="learn-start__slider slick">
                        <div class="slick__item">
                            <img src="/assets/img/index/bg.jpg" alt="">
                        </div>
                        <div class="slick__item">
                            <img src="/assets/img/index/bg.jpg" alt="">
                        </div>
                    </div>
                    <div class="learn-start__text-inner container-helper">
                        <p class="learn-start__start-text">
                            Внимательно изучите обучающий материал перед началом экзамена
                        </p>
                        <button class="btn _special js-start-exam-btn">Начать экзамен</button>
                    </div>
                </div>
            </div>
        </div>
        {% include '../modal/start-exam.twig' %}
    </section>
{% endblock %}