{% extends '../base.twig' %}

{% block title %}Обучение{% endblock %}

{% block content %}
    <section class="lk _special">
        {% include '../layouts/left-menu.twig' %}
        <div class="lk__inner">
            {% include '../layouts/header-lk.twig' %}
            <div class="learn-start">
                <div class="learn-start__inner">
                    <div class="learn-start__learn-page-inner container-helper">
                        <p class="learn-start__page-title">
                            Вопрос 3 из 12
                        </p>
                        <p class="learn-start__page-text">
                            Экзамен: как правильно выбрать зимние шины, а вдруг он аж в две строки
                        </p>
                    </div>
                    <div class="learn-start__page-line" style="--color-line-progress: 30%;">
                    </div>
                    <div class="learn-start__learn-page-inner-second container-helper">
                        <p class="learn-start__page-subtitle">
                            Двигаясь по левой полосе, водитель намерен перестроиться на правую. На каком из рисунков
                            показана ситуация, в которой он обязан уступить дорогу?
                        </p>
                        <p class="learn-start__page-subtext">
                            С другой стороны новая модель организационной деятельности представляет собой интересный
                            эксперимент проверки систем массового участия
                        </p>
                        <div class="learn-start__page-input-wrapper">
                            <label class="learn-start__page-input-inner radio-container" for="radioLeft">
                                <input class="radio-container__btn" id="radioLeft" type="radio" name="ex1">
                                <span class="radio-container__checkmark"></span>
                                На левом
                            </label>
                            <label class="learn-start__page-input-inner radio-container" for="radioRight">
                                <input class="radio-container__btn" id="radioRight" type="radio" name="ex1">
                                <span class="radio-container__checkmark"></span>
                               На правом
                            </label>
                            <label class="learn-start__page-input-inner radio-container" for="radioTwice">
                                <input class="radio-container__btn" id="radioTwice" type="radio" name="ex1">
                                <span class="radio-container__checkmark"></span>
                                На обоих
                            </label>
                        </div>
                        <div class="learn-start__page-input-wrapper">
                            <label class="learn-start__page-input-inner checkbox radio-container" for="radioLeft1">
                                <input class="checkbox__input" id="radioLeft1" type="radio" name="ex2">
                                <span class="checkmark"></span>
                                На левом
                            </label>
                            <label class="learn-start__page-input-inner checkbox radio-container" for="radioRight1">
                                <input class="checkbox__input" id="radioRight1" type="radio" name="ex2">
                                <span class="checkmark"></span>
                               На правом
                            </label>
                            <label class="learn-start__page-input-inner checkbox radio-container" for="radioTwice1">
                                <input class="checkbox__input" id="radioTwice1" type="radio" name="ex2">
                                <span class="checkmark"></span>
                                На обоих
                            </label>
                        </div>
                        <button class="btn _special">Продолжить</button>
                    </div>
                </div>
            </div>
        </div>
        {% include '../modal/start-exam.twig' %}
    </section>
    <style>

    </style>
{% endblock %}