{% extends '../base.twig' %}

{% block title %}Обучение{% endblock %}

{% set  learnCard = [
    {
        title: 'Как правильно выбрать зимние шины',
        text: 'С другой стороны новая модель организационной деятельности представляет собой интересный эксперимент проверки систем массового участия',
        img: '1.jpg',
        active: true
    },
    {
        title: 'Как правильно выбрать зимние шины',
        text: 'С другой стороны новая модель организационной деятельности представляет собой интересный эксперимент проверки систем массового участия',
        img: '2.jpg',
        status: '_green'
    },
    {
        title: 'Как правильно выбрать зимние шины',
        text: 'С другой стороны новая модель организационной',
        img: '3.jpg',
        status: '_black'
    },
    {
        title: 'Как правильно выбрать зимние шины',
        text: 'С другой стороны новая модель организационной деятельности представляет собой интересный эксперимент проверки систем массового участия',
        img: '4.jpg',
        status: '_gray'
    },
    {
        title: 'Как правильно выбрать зимние шины',
        text: 'С другой стороны новая модель организационной деятельности представляет собой интересный эксперимент проверки систем массового участия',
        img: '5.jpg'
    },
    {
        title: 'Как правильно выбрать зимние шины',
        text: 'С другой стороны новая модель организационной деятельности представляет собой интересный эксперимент проверки систем массового участия',
        img: '6.jpg'
    },
    {
        title: 'Как правильно выбрать зимние шины',
        text: 'С другой стороны новая модель организационной деятельности представляет собой интересный эксперимент проверки систем массового участия',
        img: '6.jpg'
    },
    {
        title: 'Как правильно выбрать зимние шины',
        text: 'С другой стороны новая модель организационной деятельности представляет собой интересный эксперимент проверки систем массового участия',
        img: '6.jpg'
    },

] %}

{% block content %}
    <section class="lk _special learn">
        {% include '../layouts/left-menu.twig' %}
        <div class="lk__inner">
            {% include '../layouts/header-lk.twig' %}
            <section class="text-promo">
                <div class="text-promo__inner">
                    <h1 class="text-promo__title">Обучение</h1>
                    <p class="text-promo__text">
                        Обучайтесь, сдавайте экзамены и зарабатывайте баллы для соревнования команд и продавайте лучше.
                        <a class="link" href="#">Зачем проходить обучение?</a>
                    </p>
                </div>
            </section>
            <div class="learn__wrapper">
                <div class="learn__card-inner">
                    {% include '../modules/learn-card.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}