{% extends '../base.twig' %}

{% block title %}Обучение{% endblock %}

{% block content %}
    <section class="lk _special">
        {% include '../layouts/left-menu.twig' %}
        <div class="lk__inner">
            {% include '../layouts/header-lk.twig' %}
            <div class="learn-start">
                <div class="learn-start__inner  learn-finish__inner">
                    <div class="learn-finish__img-wrapper">
                        <div class="learn-finish__icon-inner">
                            <svg class="icon">
                                <use xlink:href="#learn"/>
                            </svg>
                        </div>
                        <p class="learn-finish__title">+ 200 Кб</p>
                        <p class="learn-finish__promo-text">
                            Вы ответили правильно на 70% вопросов
                        </p>
                    </div>
                    <div class="learn-finish__wrapper container-helper">
                        <ul class="learn-finish__list">
                            <li class="learn-finish__item">
                                <p class="learn-finish__text">
                                    За успешное прохождение всей командой программы обучения (70 % или выше 70%)
                                </p>
                                <p class="learn-finish__bonus">500 Кб</p>
                            </li>
                            <li class="learn-finish__item">
                                <p class="learn-finish__text">
                                    100% правильных ответов
                                </p>
                                <p class="learn-finish__bonus">300 Кб</p>
                            </li>
                            <li class="learn-finish__item">
                                <p class="learn-finish__text">
                                    90% правильных ответов
                                </p>
                                <p class="learn-finish__bonus">270 Кб</p>
                            </li>
                            <li class="learn-finish__item">
                                <p class="learn-finish__text">
                                    80% правильных ответов
                                </p>
                                <p class="learn-finish__bonus">240 Кб</p>
                            </li>
                            <li class="learn-finish__item">
                                <p class="learn-finish__text">
                                    <svg class="icon">
                                        <use xlink:href="#ok"/>
                                    </svg>
                                    70% правильных ответов
                                </p>
                                <p class="learn-finish__bonus">200 Кб</p>
                            </li>
                            <li class="learn-finish__item">
                                <p class="learn-finish__text">
                                    <70% правильных ответов
                                </p>
                                <p class="learn-finish__bonus">50 Кб</p>
                            </li>
                        </ul>
                        <button class="btn  learn-finish__btn">На страницу обучения</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}