{% extends '../base.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <section class="lk">
        {% include '../layouts/left-menu.twig' %}
        <div class="lk__inner">
            {% include '../layouts/header-lk.twig' %}
            {% include '../modules/lk-promo.twig' %}
            <div class="lk__wrapper">
                {% include '../modules/widget-rules.twig' %}
                {% include '../modules/widget-bonus.twig' %}
                {% include '../modules/widget-team.twig' %}
            </div>
            {% include '../modules/qr.twig' %}
        </div>
        {% include '../modules/qr-success.twig' %}
        {% include '../modules/qr-error.twig' %}
    </section>
{% endblock %}