{% extends '../base.twig' %}

{% block title %}Команда{% endblock %}

{% block content %}
    <section class="lk _special team no-team">
        {% include '../layouts/left-menu.twig' %}
        <div class="lk__inner">
            {% include '../layouts/header-lk.twig' %}
            <div class="lk__wrapper no-team__wrapper">
                <div class="no-team__promo-inner">
                    <h1 class="title no-team__title">Соберите команду</h1>
                    <p class="no-team__promo-text">
                        Выиграйте в&nbsp;соревнованиях сертификат на&nbsp;тимбилдинг на&nbsp;50&nbsp;000&nbsp;руб.
                    </p>
                </div>
                <div class="no-team__promo-inner">
                    {% include '../modules/widget-link.twig' %}
                    <p class="no-team__text">
                        Отправьте ссылку другу, что&nbsp;бы пригласить его в&nbsp;команду
                    </p>
                </div>
            </div>
            <div class="no-team__inner container-helper">
                <div class="no-team__item">
                    <div class="no-team__item-wrapper">
                        <svg class="icon  no-team__item-icon">
                            <use xlink:href="#mega-team"/>
                        </svg>
                    </div>
                    <p class="no-team__item-promo-text">
                        от 3 до 7 участников
                    </p>
                    <p class="no-team__item-text">
                        Потвердили участие: Коваленко Алексей Ю., Петечкин Василий Д.
                    </p>
                </div>
                <div class="no-team__item">
                    <div class="no-team__item-wrapper">
                        <svg class="icon  no-team__item-icon">
                            <use xlink:href="#cup"/>
                        </svg>
                    </div>
                    <p class="no-team__item-title">
                        50 000 руб.
                    </p>
                    <p class="no-team__item-text">
                        Сертификат на тимбилдинг
                    </p>
                </div>
                <div class="no-team__item">
                    <div class="no-team__item-wrapper">
                        <svg class="icon  no-team__item-icon">
                            <use xlink:href="#timer"/>
                        </svg>
                    </div>
                    <p class="no-team__item-title">
                        15 августа
                    </p>
                    <p class="no-team__item-text">
                        Подведение итогов
                    </p>
                </div>
                <div class="no-team__inner-link-helper">
                    <button class="link no-team__inner-link js-rules-btn">Правила соревнований</button>
                </div>
            </div>
        </div>
        {% include '../modal/rules.twig' %}
    </section>
{% endblock %}