{% extends '../base.twig' %}

{% block title %}Мои заявки{% endblock %}

{% block content %}
    <section class="lk _special tickets">
        {% include '../layouts/left-menu.twig' %}
        <div class="lk__inner tickets__wrapp">
            {% include '../layouts/header-lk.twig' %}
            <div class="tickets__wrapper">
                <div class="tickets__inner container-helper">
                    <h1 class="title  tickets__title">Мои заявки</h1>
                    <button class="btn _special tickets__btn js-new-ticket-btn">
                        <svg class="icon">
                            <use xlink:href="#plus"/>
                        </svg>
                        Написать заявку
                    </button>
                    <p class="tickets__info-text">
                        У Вас нет ни одной заявки в поддержку
                    </p>
                </div>
                <div class="tickets__inner container-helper">
                    <svg class="icon tickets__no-tickets-icon">
                        <use xlink:href="#chat-strong"/>
                    </svg>
                    <p class="tickets__no-tickets-text">
                        Выберите заявку из списка
                    </p>
                    <p class="tickets__no-tickets-help">
                        Посмотрите <a class="link" href="#">раздел FAQ</a>, возможно Вы найдете ответ на свой вопрос
                    </p>
                </div>
            </div>
        </div>
        {% include '../modal/new-ticket.twig' %}
    </section>
{% endblock %}