{% extends '../base.twig' %}

{% block title %}Команда{% endblock %}

{% block content %}
    <section class="lk _special">
        {% include '../layouts/left-menu.twig' %}
        <div class="lk__inner">
            {% include '../layouts/header-lk.twig' %}
            <div class="content-page container-helper">
                <h1>Правила участия в бонусной программе Bridgestone Club — Достигай большего</h1>
            </div>
        </div>
    </section>
{% endblock %}