{% extends '../base.twig' %}

{% block title %}Мои продажи{% endblock %}

{% block content %}
    <section class="sales lk _special">
        {% include '../layouts/left-menu.twig' %}
        <div class="lk__inner">
            {% include '../layouts/header-lk.twig' %}
            <div class="gifts__wrapper sales__wrapper">
                <h1 class="sales__wrapper-subtitle">Мои продажи</h1>
                <div class="gifts__wrapper-icon">
                    <svg class="icon">
                        <use xlink:href="#bonus"/>
                    </svg>
                    <p class="gifts__wrapper-bonus-text">2 500</p>
                </div>
            </div>
            <div class="gifts__wrapper sales__inner">
                <button class="sales__block">
                    <div class="sales__block-wrapper">
                        <svg class="icon">
                            <use xlink:href="#qr-strong"/>
                        </svg>
                        <p class="sales__block-title">QR-Код</p>
                    </div>
                    <p class="sales__block-text">
                        Наведите камеру на QR код, расположенный на чеке
                    </p>
                    <p class="link">Сканировать</p>
                </button>
                <a href="#" class="sales__block">
                    <div class="sales__block-wrapper">
                        <svg class="icon">
                            <use xlink:href="#rub"/>
                        </svg>
                        <p class="sales__block-title">Прайс-лист</p>
                    </div>
                    <p class="sales__block-text">
                        Сколько и за какие продажи начисляются бонусы
                    </p>
                    <p class="link">Смотреть</p>
                </a>
                <a href="#" class="sales__block">
                    <div class="sales__block-wrapper">
                        <svg class="icon">
                            <use xlink:href="#chat"/>
                        </svg>
                        <p class="sales__block-title">Помощь</p>
                    </div>
                    <p class="sales__block-text">
                        Если у вас вопросы по начислениям, напишите нам
                    </p>
                    <p class="link">Написать</p>
                </a>
            </div>
            <div class="gifts__wrapper sales__table-inner">
                <table class="sales-table">
                    <thead>
                    <tr>
                        <td>Дата</td>
                        <td>Время</td>
                        <td>Сумма</td>
                        <td>Бонусы</td>
                        <td>Статус</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <svg class="icon _icon-mob">
                                <use xlink:href="#time"/>
                            </svg>
                            <span class="_spec-mob _test">Проверка</span>
                            10 Фев
                            <span class="_spec-mob-date">2020</span>
                        </td>
                        <td>
                            <p class="sales-table__mob-text">Время</p>
                            13:40
                        </td>
                        <td>
                            <p class="sales-table__mob-text">Сумма</p>
                            5200 руб
                        </td>
                        <td>
                            <p class="sales-table__mob-text">Бонусы</p>
                            720 Б
                        </td>
                        <td class="_status _test">
                            <svg class="icon">
                                <use xlink:href="#time"/>
                            </svg>
                            Проверка
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <svg class="icon _icon-mob">
                                <use xlink:href="#ok"/>
                            </svg>
                            <span class="_spec-mob _ok">Зачислен</span>
                            10 Фев
                            <span class="_spec-mob-date">2020</span>
                        </td>
                        <td>13:40</td>
                        <td>5200 руб</td>
                        <td>720 Б</td>
                        <td class="_status _ok">
                            <svg class="icon">
                                <use xlink:href="#ok"/>
                            </svg>
                            Зачислен
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <svg class="icon _icon-mob">
                                <use xlink:href="#error"/>
                            </svg>
                            <span class="_spec-mob _error">Ошибка</span>
                            10 Фев
                            <span class="_spec-mob-date">2020</span>
                        </td>
                        <td>13:40</td>
                        <td>5200 руб</td>
                        <td>720 Б</td>
                        <td class="_status _error">
                            <svg class="icon">
                                <use xlink:href="#error"/>
                            </svg>
                            Ошибка
                        </td>
                    </tr>
                    <tr class="_info">
                        <td colspan="5">
                            <svg class="icon">
                                <use xlink:href="#warning"/>
                            </svg>
                            <p>
                                На шины Р16 не действует начисление бонусов. Только на 4 модели Р17. Ну и не нравишься
                                ты мне, кожанный ублюдок
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <svg class="icon _icon-mob">
                                <use xlink:href="#error"/>
                            </svg>
                            <span class="_spec-mob  _error">Ошибка</span>
                            10 Фев
                            <span class="_spec-mob-date">2020</span>
                        </td>
                        <td>13:40</td>
                        <td>5200 руб</td>
                        <td>720 Б</td>
                        <td class="_status _error">
                            <svg class="icon">
                                <use xlink:href="#error"/>
                            </svg>
                            Ошибка
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <svg class="icon _icon-mob">
                                <use xlink:href="#error"/>
                            </svg>
                            <span class="_spec-mob  _error">Ошибка</span>
                            10 Фев
                            <span class="_spec-mob-date">2020</span>
                        </td>
                        <td>13:40</td>
                        <td>5200 руб</td>
                        <td>720 Б</td>
                        <td class="_status _error">
                            <svg class="icon">
                                <use xlink:href="#error"/>
                            </svg>
                            Ошибка
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}