{% extends '../base.twig' %}

{% block title %}Команда{% endblock %}

{% block content %}
    <section class="lk _special team">
        {% include '../layouts/left-menu.twig' %}
        <div class="lk__inner team__wrapp">
            {% include '../layouts/header-lk.twig' %}
            <div class="team__wrapper">
                <div class="team__inner container-helper">
                    <h1 class="team__title title">Команда <span>#23</span></h1>
                    <div id="progressBar" class="widget-lk__progressBar team__progressBar">
                        <div class="widget-lk__progressBar-inner">
                            <svg class="icon">
                                <use xlink:href="#hot"/>
                            </svg>
                            <p class="widget-lk__progressBar-status">Жара</p>
                        </div>
                    </div>
                    <p class="team__progressBar-text">
                        Количество баллов, заработанных командой в этом сезоне
                    </p>
                    <button class="btn _special  team__btn">Пройти тест</button>
                    <button class="btn  team__btn _helper">Сканировать чек</button>
                    <button class="link _border js-rules-btn team__link">Как заработать командные бонусы?</button>
                    <button class="link _border js-rules-btn team__link">Правила соревнования</button>
                </div>
                <div class="team__inner container-helper">
                    <p class="team__subtitle">Участники</p>
                    <ol class="widget-lk__list  team__list _special">
                        <li class="widget-lk__item">
                            <p class="widget-lk__item-member">Коваленко Алексей</p>
                            <p class="team__list-text">8500 КБ</p>
                            <p class="team__list-text-per">33%</p>
                        </li>
                        <li class="widget-lk__item">
                            <p class="widget-lk__item-member">Иванова Юлия</p>
                            <p class="team__list-text">7200 КБ</p>
                            <p class="team__list-text-per">28%</p>
                        </li>
                        <li class="widget-lk__item">
                            <p class="widget-lk__item-member">Петров Константин</p>
                            <p class="team__list-text">4000 КБ</p>
                            <p class="team__list-text-per">15%</p>
                        </li>
                        <li class="widget-lk__item">
                            <p class="widget-lk__item-member">Петров Константин</p>
                            <p class="team__list-text">3000 КБ</p>
                            <p class="team__list-text-per">12%</p>
                        </li>
                        <li class="widget-lk__item">
                            <p class="widget-lk__item-member">Петров Константин</p>
                            <p class="team__list-text">3000 КБ</p>
                            <p class="team__list-text-per">12%</p>
                        </li>
                    </ol>
                    <div class="team__promo-inner">
                        {% include '../modules/widget-link.twig' %}
                        <p class="team__promo-text">
                            Отправьте ссылку другу, что&nbsp;бы пригласить его в&nbsp;команду
                        </p>
                    </div>
                    <div class="team__rating">
                        <svg class="icon team__rating-icon">
                            <use xlink:href="#cup-strong"/>
                        </svg>
                        <div class="team__rating-inner">
                            <div class="team__rating-title">
                                Ваша команда на <span>23 месте</span> рейтинга
                            </div>
                            <div class="team__rating-text">
                                1200 Кб до 22 места
                            </div>
                        </div>
                        <button class="btn team__rating-btn">
                            <svg class="icon">
                                <use xlink:href="#arrow-right"/>
                            </svg>
                        </button>
                    </div>
                    <p class="team__subtitle">Статистика за неделю</p>
                    <div class="chart-container">
                        <canvas id="chart"></canvas>
                    </div>
                    <ol class="widget-lk__list  team__list _stat">
                        <li class="widget-lk__item">
                            <p class="widget-lk__item-member">12 Фев</p>
                            <p class="widget-lk__item-member">Коваленко Алексей</p>
                            <p class="team__list-text">Продажа</p>
                            <p class="team__list-text-per">+700 КБ</p>
                        </li>
                        <li class="widget-lk__item">
                            <p class="widget-lk__item-member">11 Фев</p>
                            <p class="widget-lk__item-member">Иванова Юлия</p>
                            <p class="team__list-text">Онлайн-тест</p>
                            <p class="team__list-text-per">+300 КБ</p>
                        </li>
                        <li class="widget-lk__item">
                            <p class="widget-lk__item-member">10 Фев</p>
                            <p class="widget-lk__item-member">Петров Константин</p>
                            <p class="team__list-text">Онлайн-тест</p>
                            <p class="team__list-text-per">+500 КБ</p>
                        </li>
                        <li class="widget-lk__item">
                            <p class="widget-lk__item-member">09 Фев</p>
                            <p class="widget-lk__item-member">Петров Константин</p>
                            <p class="team__list-text">Продажа</p>
                            <p class="team__list-text-per">+1500 КБ</p>
                        </li>
                        <li class="widget-lk__item">
                            <p class="widget-lk__item-member">08 Фев</p>
                            <p class="widget-lk__item-member">Петров Константин</p>
                            <p class="team__list-text">Продажа</p>
                            <p class="team__list-text-per">+2700 КБ</p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        {% include '../modal/rules.twig' %}
    </section>
{% endblock %}