{% extends '../base.twig' %}

{% block title %}Мои заявки{% endblock %}

{% block content %}
    <section class="lk _special tickets">
        {% include '../layouts/left-menu.twig' %}
        <div class="lk__inner tickets__wrapp">
            {% include '../layouts/header-lk.twig' %}
            <div class="tickets__wrapper">
                <div class="tickets__inner container-helper js-ticket-list">
                    <h1 class="title  tickets__title">Мои заявки</h1>
                    <button class="btn _special tickets__btn js-new-ticket-btn">
                        <svg class="icon">
                            <use xlink:href="#plus"/>
                        </svg>
                        Написать заявку
                    </button>
                    <button class="tickets__ticket-item js-ticket-btn">
                        <span class="tickets__ticket-item-status _red"></span>
                        <span class="tickets__ticket-item-date">25 янв</span>
                        <span class="tickets__ticket-item-number">#2345</span>
                        <p class="tickets__ticket-item-text">
                            Здравствуйте. Мне не начислили бонусы за продажу Adrenalin RE004 17R
                        </p>
                        <svg class="icon">
                            <use xlink:href="#arrow-right"/>
                        </svg>
                    </button>
                    <button class="tickets__ticket-item _active">
                        <span class="tickets__ticket-item-status _red"></span>
                        <span class="tickets__ticket-item-date">25 янв</span>
                        <span class="tickets__ticket-item-number">#2345</span>
                        <p class="tickets__ticket-item-text">
                            Здравствуйте. Мне не начислили бонусы за продажу Adrenalin RE004 17R
                        </p>
                        <svg class="icon">
                            <use xlink:href="#arrow-right"/>
                        </svg>
                    </button>
                    <button class="tickets__ticket-item">
                        <span class="tickets__ticket-item-status"></span>
                        <span class="tickets__ticket-item-date">25 янв</span>
                        <span class="tickets__ticket-item-number">#2345</span>
                        <p class="tickets__ticket-item-text">
                            Здравствуйте. Мне не начислили бонусы за продажу Adrenalin RE004 17R
                        </p>
                        <svg class="icon">
                            <use xlink:href="#arrow-right"/>
                        </svg>
                    </button>
                    <button class="tickets__ticket-item">
                        <span class="tickets__ticket-item-status"></span>
                        <span class="tickets__ticket-item-date">25 янв</span>
                        <span class="tickets__ticket-item-number">#2345</span>
                        <p class="tickets__ticket-item-text">
                            Здравствуйте. Мне не начислили бонусы за продажу Adrenalin RE004 17R
                        </p>
                        <svg class="icon">
                            <use xlink:href="#arrow-right"/>
                        </svg>
                    </button>
                </div>
                <div class="tickets__inner container-helper js-ticket _ticket">
                    <p class="tickets__subtitle">
                        <button class="tickets__back-btn js-ticket-back" type="button">
                            <svg class="icon">
                                <use xlink:href="#arrow-left"/>
                            </svg>
                        </button>
                        Заявка #2345
                    </p>
                    <div class="tickets__msg-inner _right">
                        <p class="tickets__msg-text">
                            Здравствуйте. Мне не начислили бонусы за продажу Adrenalin RE004 17R. Я загружал чек 16
                            апреля, статус загружен, но бонусы не зачислены
                        </p>
                        <time class="tickets__msg-date" datetime="2004-07-24T18:18:18">24 апреля, 2020 г, 16:00</time>
                    </div>
                    <div class="tickets__msg-inner">
                        <p class="tickets__msg-text">
                            Здравствуйте. Мне не начислили бонусы за продажу Adrenalin RE004 17R. Я загружал чек 16
                            апреля, статус загружен, но бонусы не зачислены
                        </p>
                        <time class="tickets__msg-date" datetime="2004-07-24T18:18:18">24 апреля, 2020 г, 16:00</time>
                    </div>
                    <div class="tickets__msg-inner _right">
                        <p class="tickets__msg-text">
                            Здравствуйте. Мне не начислили бонусы за продажу Adrenalin RE004 17R. Я загружал чек 16
                            апреля, статус загружен, но бонусы не зачислены
                        </p>
                        <time class="tickets__msg-date" datetime="2004-07-24T18:18:18">24 апреля, 2020 г, 16:00</time>
                    </div>
                    <div class="tickets__form-msg">
                        <div class="tickets__form-msg-inner">
                            <input class="input tickets__form-msg-text" type="text" placeholder="Сообщение...">
                            <div class="btn-attach">
                                <svg class="icon">
                                    <use xlink:href="#attach"/>
                                </svg>
                                <input type="file" class="tickets__form-attach">
                            </div>
                        </div>
                        <button class="btn">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
        {% include '../modal/new-ticket.twig' %}
    </section>
{% endblock %}