{% for item in giftCard %}
<section class="gift-card">
    <img src="/assets/img/gifts/{{ item.img }}" alt="" class="gift-card__img">
    <div class="gift-card__wrapper">
        <p class="gift-card__bonus">{{ item.bonusNum }}</p>
        <p class="gift-card__text">{{ item.name }}</p>
        <div class="gift-card__inner">
            <select class="js-input input">
                <option value="">1000 руб</option>
                <option value="">2000 руб</option>
                <option value="">3000 руб</option>
            </select>
            <button class="btn _special js-gift-card-buy">Купить</button>
        </div>
    </div>
</section>
{% endfor %}