<section class="gift-order modal">
    <div class="gift-order__wrapper">
        <img class="gift-order__img" src="/assets/img/gifts/1.jpg" alt="">
        <p class="gift-order__name">Подарочная карта Ozon</p>
        <p class="gift-order__text">
            Надежный российский интернет магазин, более 4 млн товаров, в 24 категориях
        </p>
    </div>
    <div class="gift-order__inner">
        <form action="" class="gift-order__form">
            <label for="orderTel" class="label gift-order__label">Телефон</label>
            <input type="tel" class="input gift-order__input js-tel" id="orderTel" placeholder="+7 (___) ___ __ __" disabled>
            <label for="orderTel" class="label gift-order__label">E-mail</label>
            <input type="email" class="input gift-order__input" id="orderEmail" value="Ivanov@gmail.com" disabled>
            <p class="gift-order__form-subtext">
                Подарочная карта будет выслана на указанный Email
            </p>
            <div class="gift-order__form-inner">
                <div class="gift-order__form-wrapp">
                    <label class="label gift-order__label">Номинал</label>
                    <select class="js-input input">
                        <option value="">1000 руб</option>
                        <option value="">2000 руб</option>
                        <option value="">3000 руб</option>
                    </select>
                </div>
                <div class="gift-order__form-wrapp">
                    <label for="orderNum" class="label gift-order__label">Количество</label>
                    <input type="number" class="input gift-order__input" id="orderNum" value="1">
                </div>
            </div>
            <div class="gift-order__form-inner">
                <p class="gift-order__form-bonus">2500 Б</p>
                <button class="btn _special" disabled>Купить</button>
            </div>
        </form>
    </div>
</section>