{% for item in learnCard %}
    <section class="learn-card">
        <p class="learn-card__label {{ item.status }}">Не начато</p>
        <img src="/assets/img/learn/{{ item.img }}" alt="" class="learn-card__img">
        <div class="learn-card__wrapper">
            <p class="learn-card__title">{{ item.title }}</p>
            <p class="learn-card__text">{{ item.text }}</p>
            <div class="learn-card__inner">
                {% if (item.active) %}
                    <p class="learn-card__spec-text">Вы заработали 300 баллов</p>
                {% else %}
                    <button class="btn _special js-learn-card-buy">Приступить</button>
                {% endif %}
            </div>
        </div>
    </section>
{% endfor %}