<section class="lk-promo">
    <div class="lk-promo__inner">
        <p class="lk-promo__name">Привет, Александр</p>
        <p class="lk-promo__address">
            Санкт-Петербург, ул. Красноармейская, д6, Vlanor
        </p>
    </div>
    <a class="lk-promo__wrapper _bonus" href="#">
        <div class="lk-promo__wrapper-icon">
            <svg class="icon">
                <use xlink:href="#bonus-strong"/>
            </svg>
            <p class="lk-promo__subtitle">2 500</p>
        </div>
        <p class="lk-promo__text">
            Необходимо потратить до 20 февраля 2020 года
        </p>
        <p class="lk-promo__link">Потратить</p>
    </a>

    <button class="lk-promo__wrapper _qr js-qr-btn">
        <div class="lk-promo__wrapper-icon">
            <svg class="icon">
                <use xlink:href="#qr"/>
            </svg>
            <p class="lk-promo__subtitle">QR-Код</p>
        </div>

        <p class="lk-promo__text">
            Наведите камеру на QR код, расположенный на чеке
        </p>
        <p class="lk-promo__link">Сканировать</p>
    </button>
</section>
