<section class="qr-modal _error modal">
    <div class="qr-modal__wrapper">
        <svg class="icon">
            <use xlink:href="#qr-error"/>
        </svg>
    </div>
    <div class="qr-modal__inner">
        <p class="qr-modal__title">Ошибка загрузки :(</p>
        <p class="qr-modal__text">
            QR-код не читается, обратитесь в техподдержку
        </p>
        <button class="btn">Помощь</button>
    </div>
</section>