<section class="qr-modal _success modal">
    <div class="qr-modal__wrapper">
        <svg class="icon">
            <use xlink:href="#qr-success"/>
        </svg>
    </div>
    <div class="qr-modal__inner">
        <p class="qr-modal__title">Чек загружен</p>
        <p class="qr-modal__text">
            После проверки бонусы будут зачислены на Ваш счет. Следите за статусом на странице “Продажи”
        </p>
        <button class="btn">Смотреть</button>
    </div>
</section>