<section class="qr js-qr" style="background-image: url(/assets/img/qr/qr-bg.jpg)">
    <p class="qr__text">
        Наведите камеру на&nbsp;QR код расположенный на&nbsp;чеке
    </p>
    <video id="preview" class="qr__scan"></video>
    <div class="qr__scan-block"></div>
    <div class="qr__inner">
        <a class="qr__link link" href="#">Загрузить из файла</a>
        <a class="qr__link link" href="#">Не читается QR?</a>
    </div>
    <button class="btn-close js-close">
        <svg class="icon">
            <use xlink:href="#close"/>
        </svg>
    </button>
</section>