<section class="text-promo">
    <div class="text-promo__inner">
        <h1 class="text-promo__title">Каталог призов</h1>
        <p class="text-promo__text">
            Здесь вы&nbsp;можете потратить заработанные бонусы. Выберите приз и&nbsp;отправьте заявку. Отправка сертификатов
            происходит раз в&nbsp;3&nbsp;месяца. Мы&nbsp;отправим вам данные после того, как подсчитаем результаты
        </p>
    </div>
</section>