<section class="widget-lk">
    <div class="widget-lk__inner">
        <svg class="icon">
            <use xlink:href="#learn"/>
        </svg>
        <p class="widget-lk__title">Командные баллы</p>
    </div>
    <div id="progressBar" class="widget-lk__progressBar">
        <div class="widget-lk__progressBar-inner">
            <svg class="icon">
                <use xlink:href="#hot"/>
            </svg>
            <p class="widget-lk__progressBar-status">Жара</p>
        </div>
    </div>
    <p class="widget-lk__text">
        Количество баллов, заработанных командой в этом сезоне
    </p>
    <a href="#" class="btn widget-lk__btn">Заработать баллы</a>
</section>
