<section class="widget-lk">
    <div class="widget-lk__inner">
        <svg class="icon">
            <use xlink:href="#team"/>
        </svg>
        <p class="widget-lk__title">Команда</p>
        <p class="widget-lk__title _special">6 человек</p>
    </div>
    {% if (item.active) %}
        <ol class="widget-lk__list">
            <li class="widget-lk__item">
                <p class="widget-lk__item-member">Коваленко Алексей</p>
                <p class="widget-lk__item-bonus">2 300 Б</p>
            </li>
            <li class="widget-lk__item">
                <p class="widget-lk__item-member">Иванова Юлия</p>
                <p class="widget-lk__item-bonus">1 700 Б</p>
            </li>
            <li class="widget-lk__item">
                <p class="widget-lk__item-member">Петров Константин</p>
                <p class="widget-lk__item-bonus">800 Б</p>
            </li>
            <li class="widget-lk__item">
                <p class="widget-lk__item-member">Петров Константин</p>
                <p class="widget-lk__item-bonus">700 Б</p>
            </li>
            <li class="widget-lk__item">
                <p class="widget-lk__item-member">Петров Константин</p>
                <p class="widget-lk__item-bonus">500 Б</p>
            </li>
            <li class="widget-lk__item">
                <p class="widget-lk__item-member">Петров Константин</p>
                <p class="widget-lk__item-bonus">400 Б</p>
            </li>
        </ol>
    {% else %}
        <p class="widget-lk__team-title">
            Для создания команды в ней должно быть минимум 3 участника
        </p>
        <p class="widget-lk__team-text">
            Реферальная ссылка. Отправьте ее другу, что бы принять в свою команду
        </p>
    {% endif %}
    {% include '../modules/widget-link.twig' %}
</section>