<div class="widget-link">
    <p class="widget-link__text" id="copyBtn">https://bridgestone.maincore.ru/j/Vdsffsdf</p>
    <button class="widget-link__inner" id="textCopy">
        <svg class="icon">
            <use xlink:href="#social"/>
        </svg>
    </button>
</div>