<section class="widget-lk _bg">
    <div class="widget-lk__inner">
        <svg class="icon">
            <use xlink:href="#bonus"/>
        </svg>
        <p class="widget-lk__title">За что начисляются бонусы</p>
    </div>
    <div class="widget-lk__rules-list">
        <div class="widget-lk__rules-item">
            <p class="widget-lk__rules-text">Turanza T005 все типоразмеры</p>
            <p class="widget-lk__rules-bonus">250 Б</p>
        </div>
        <div class="widget-lk__rules-item">
            <p class="widget-lk__rules-text">Alenza 001 все типоразмеры</p>
            <p class="widget-lk__rules-bonus">250 Б</p>
        </div>
        <div class="widget-lk__rules-item">
            <p class="widget-lk__rules-text">Летние шины, диаметр >=17"</p>
            <p class="widget-lk__rules-bonus">250 Б</p>
        </div>
        <div class="widget-lk__rules-item">
            <p class="widget-lk__rules-text">Летние шины, диаметр <17"</p>
            <p class="widget-lk__rules-bonus">250 Б</p>
        </div>
    </div>
    <p class="widget-lk__text">Актуально на 25 января, 2020</p>
    <a href="/how.html" class="btn widget-lk__btn">Как учавствовать</a>
</section>