@keyframes mobile-menu {
    0% {
        top: -100%;
    }

    100% {
        top: 0;
    }
}

@keyframes rightAnimate {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes scalePromo {
    0% {
        transform: scale(1.05)
    }
    100% {
        transform: scale(1)
    }
}