html {
    height: 100%;
}

.h1, h1 {
    font-size: var(--f-s-title);
    font-weight: 500;
    line-height: 1.2;
}

.hidden {
    display: none !important;
}

.hidden-mobile {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.hidden-desktop {
    @media (min-width: 768px) {
        display: none !important;
    }
}

#svg-icons {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
}

.title {
    font-size: var(--f-s-title);
}

.sub-title {
    font-size: var(--f-s-h3);
}

.container-helper {
    padding: 15px 20px;
    @include media-breakpoint-up(md, $grid-breakpoints) {
        padding: 22px 50px;
    }
}

.pdf-wrapper #navigation {

}