@import "../../../node_modules/bootstrap/scss/bootstrap-grid";

//Сетка
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        llg: 1000px,
        lg: 1250px,
        xl: 1390px,
        xxl: 1500px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        llg: 992px,
        lg: 1200px,
        xl: 1330px,
        xxl: 1440px
);

//Шрифты
:root {
    --f-primary: Arial, sans-serif;
    --f-s-mega: 36px;
    --f-s-title: 35px;
    --f-s-h3: 20px;
    --f-s-default: 16px;
    --f-s-btn: 14px;
    --f-s-small: 12px;
    @include media-breakpoint-up(llg, $grid-breakpoints) {
        --f-s-mega: 56px;
        --f-s-title: 38px;
        --f-s-h3: 26px;
    }
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        --f-s-title: 40px;
        --f-s-h3: 28px;
    }
}


//Цвета
:root {
    --c-black: #000;
    --c-black-light: rgba(0, 0, 0, 0.24);
    --c-white: #fff;
    --c-white-light: rgba(255, 255, 255, 0.25);
    --c-white-lightest: rgba(255, 255, 255, 0.1);
    --c-primary: #2D2D2D;
    --c-second: #666666;
    --c-second-light: rgba(102, 102, 102, 0.4);
    --c-tetriary: #B4B4B4;
    --c-light: #E1E1E1;
    --c-back: #F0F0F0;
    --c-brandred: #FF0000;
    --c-brandred-dark: #C81414;
    --c-brandred-light: #FF7878;

    --c-orange: #EC6D2D;
    --c-yellow: #F7A83C;
    --c-green: #44A84D;

}

//Прочее
:root {
    --border: 1px solid;
    --transition: all 0.4s ease;
}