.gifts {
    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 15px 20px;
        width: 100%;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding: 44px 50px;
        }
    }

    &__wrapper-subtitle {
        margin-bottom: 15px;
        font-size: var(--f-s-h3);
        font-weight: 400;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-bottom: 45px;
        }
    }

    &__wrapper-icon {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-bottom: 0;
        }
    }

    &__wrapper-bonus-text {
        font-size: var(--f-s-h3);
    }

    &__wrapper-icon .icon {
        width: 26px;
        height: 26px;
        margin-right: 15px;
        fill: var(--c-brandred);
    }

    &__card-inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    & .gift-card {
        margin-bottom: 20px;
        width: 100%;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            width: calc(50% - 20px);
            margin-right: 20px;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: calc(33% - 24px);
            margin-right: 24px;
            margin-bottom: 24px;
            &:nth-child(2n) {
                margin-right: 24px;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            width: calc(25% - 24px);
            &:nth-child(2n) {
                margin-right: 24px;
            }
            &:nth-child(3n) {
                margin-right: 24px;
            }
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}