.index {
    --index-margin-promo: 16px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    padding: 54px 0 42px;
    overflow: hidden;
    @include media-breakpoint-up(llg, $grid-breakpoints) {
        --index-margin-promo: 24px;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: var(--c-black-light);
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/assets/img/index/bg.jpg') no-repeat center;
        background-size: cover;
        overflow: hidden;
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            animation: scalePromo infinite 10s alternate;
        }
    }

    &__container {
        position: relative;
        z-index: 2;
    }

    &__container-header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 15px;
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            flex-flow: row nowrap;
        }
    }

    & .logo {
        width: 285px;
        margin: 0 auto 48px;
        z-index: 2;
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            margin: 0;
        }
    }

    &__btn-inner {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 56px;
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            flex-flow: row nowrap;
            justify-content: center;
        }
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            flex-flow: row nowrap;
            justify-content: flex-start;
            width: auto;
            margin-bottom: 0;
        }
    }

    &__btn {
        z-index: 2;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        border-color:  var(--c-primary);
        margin-bottom: 16px;
        color: var(--c-white);
        background-color: var(--c-primary);
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            width: auto;
            margin-bottom: 0;
            &:first-child {
                margin-right: 16px;
            }
        }

        & .icon {
            width: 18px;
            height: 20px;
            margin-right: 15px;
            fill: var(--c-white);
        }
    }

    &__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 42px;
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            justify-content: flex-end;
            margin-bottom: 0;
        }
    }

    &__title {
        display: none;
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            position: relative;
            display: block;
            width: calc(50% - var(--index-margin-promo));
            padding-left: 122px;
            margin-bottom: 0;
            margin-right: var(--index-margin-promo);
            font-size: var(--f-s-mega);
            text-align: left;
            color: var(--c-white);
            &::before {
                content: '—';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
            }
        }
    }

    &__title-mob {
        z-index: 2;
        width: 100%;
        margin-bottom: 28px;
        font-size: var(--f-s-mega);
        text-align: center;
        color: var(--c-white);
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            display: none;
        }
    }

    &__promo {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        width: calc(50% - var(--index-margin-promo));
        height: 200px;
        padding: 16px 16px 24px;
        margin-right: var(--index-margin-promo);
        margin-bottom: var(--index-margin-promo);
        backdrop-filter: blur(40px);
        background: rgba(0, 0, 0, 0.12);
        transition: var(--transition);
        &:nth-of-type(2n) {
            width: 50%;
            margin-right: 0;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.16);
        }
        &:active {
            background: rgba(0, 0, 0, 0.24);
        }

        @include media-breakpoint-up(llg, $grid-breakpoints) {
            justify-content: flex-start;
            padding: 24px 24px 36px;
            width: calc(25% - var(--index-margin-promo));
            height: 240px;
            &:nth-of-type(2n) {
                width: calc(25% - var(--index-margin-promo));
                margin-right: var(--index-margin-promo);
            }
            &:nth-of-type(2), &:nth-of-type(5) {
                width: 25%;
                margin-right: 0;
            }
        }
    }

    &__promo-icon {
        width: 36px;
        height: 36px;
        margin-bottom: 28px;
        fill: var(--c-brandred);
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            width: 49px;
            height: 49px;
            margin-bottom: 50px;
        }
    }

    &__promo-text {
        font-size: 12px;
        word-break: break-word;
        text-align: left;
        color: var(--c-white);
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            word-break: normal;
        }
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            font-size: 16px;
        }
    }

    &__container-footer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }

    &__copyright {
        z-index: 2;
        margin-bottom: 24px;
        font-size: var(--f-s-small);
        color: var(--c-white);
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            margin-bottom: 0;
        }
    }

    &__link {
        z-index: 2;
        display: block;
        padding-bottom: 4px;
        border-bottom: var(--border) var(--c-white-light);
        font-size: var(--f-s-small);
        color: var(--c-white);
        margin-bottom: 24px;
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            margin-bottom: 0;
            &:first-of-type {
                margin-left: auto;
                margin-right: 85px;
            }
        }
    }
}