.learn {
    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 15px 20px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding: 44px 50px;
        }
    }

    &__card-inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    & .learn-card {
        margin-bottom: 20px;
        width: 100%;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            width: calc(50% - 20px);
            margin-right: 20px;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: calc(33% - 24px);
            margin-right: 24px;
            margin-bottom: 24px;
            &:nth-child(2n) {
                margin-right: 24px;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            width: calc(25% - 24px);
            &:nth-child(2n) {
                margin-right: 24px;
            }
            &:nth-child(3n) {
                margin-right: 24px;
            }
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}

.learn-finish {
    &__inner {
        padding-top: 0;
    }

    &__img-wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 60px 15px 103px;
        background: url('/assets/img/learn/finish-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__icon-inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 72px;
        height: 72px;
        margin-bottom: 42px;
        border-radius: 50%;
        background-color: var(--c-brandred);

        & .icon {
            width: 37px;
            height: 33px;
            fill: var(--c-white);
        }
    }

    &__title {
        font-size: var(--f-s-mega);
        color: var(--c-white);
    }

    &__promo-text {
        text-align: center;
        color: var(--c-white);
        opacity: 0.8;
    }

    &__wrapper {
        padding-top: 16px;
        padding-bottom: 56px;
    }

    &__list {
        margin-bottom: 48px;
    }

    &__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        border-bottom: var(--border) var(--c-light);

        & .icon {
            width: 18px;
            height: 13px;
            margin-right: 19px;
        }
    }

    &__text {
        max-width: 200px;
        margin-right: 16px;
        color: var(--c-second);
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            max-width: 384px;
        }
    }

    &__bonus {
        font-weight: 700;
    }

    &__btn {
        margin: 48px auto 34px;
    }
}