.learn-start {
    flex-grow: 1;
    width: 100%;
    padding: 48px 0 0;
    background-color: var(--c-back);
    @include media-breakpoint-up(md, $grid-breakpoints) {
        padding: 48px 0;
    }
    &__inner {
        max-width: 712px;
        padding-top: 36px;
        margin: 0 auto;
        background-color: var(--c-white);
    }

    &__back-inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 16px;
        color: var(--c-tetriary);
    }

    &__back-btn {
        width: 18px;
        height: 18px;
        margin-right: 16px;
    }

    &__back-btn .icon {
        width: 18px;
        height: 18px;
        fill: var(--c-tetriary);
    }

    &__title {
        margin-bottom: 16px;
        font-size: var(--f-s-h3);
    }

    &__text {
        margin-bottom: 40px;
    }

    &__text-inner {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 48px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__start-text {
        margin-bottom: 16px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            max-width: 352px;
            margin-bottom: 0;
        }
    }

    &__learn-page-inner {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 24px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            flex-flow: row nowrap;
            justify-content: space-between;
            margin-bottom: 40px;
        }
    }

    &__page-title {
        margin-bottom: 16px;
        font-weight: 700;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-bottom: 0;
        }
    }

    &__page-text {
        max-width: 408px;
        color: var(--c-tetriary);
    }

    &__page-line {
        position: relative;
        width: 100%;
        height: 4px;
        margin-bottom: 40px;
        background-color: var(--c-back);
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: var( --color-line-progress);
            height: 4px;
            background-color: var(--c-brandred);
        }
    }

    &__learn-page-inner-second {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        & .btn {
            margin-bottom: 40px;
        }
    }

    &__page-subtitle {
        margin-bottom: 20px;
        font-size: var(--f-s-h3);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-bottom: 16px;
        }
    }

    &__page-subtext {
        margin-bottom: 40px;
        color: var(--c-second);
    }

    &__page-input-wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 44px;
    }

    &__page-input-inner {
        margin-bottom: 24px;
    }
}