.lk {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    & .sticky-wrapper {
        width: 20%;
        max-width: 265px;
        align-self: stretch;
    }

    &._special .header-lk {
        @include media-breakpoint-down(sm, $grid-breakpoints) {
            background-color: var(--c-second);
        }
    }

    & .stickyMob {
        position: absolute;
        width: 100%;
    }

    & .stickyMob.is-sticky .header-lk {
        background-color: var(--c-primary);
        border-bottom: none;
    }

    &__inner {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: stretch;
        width: 100%;
    }

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 0 24px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding: 50px;
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            flex-flow: row nowrap;
        }
    }
}