.sales {
    &__wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 95px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            flex-flow: row nowrap;
            justify-content: space-between;
            padding-top: 34px;
        }
    }

    & .gifts__wrapper-icon {
        margin-bottom: 0;
    }

    &__wrapper-subtitle {
        font-size: var(--f-s-title);
        font-weight: 400;
        margin-bottom: 18px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-bottom: 0;
        }
    }

    &__inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding: 0 20px 15px;
        }
    }

    &__block {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        align-self: stretch;
        --sales-block-margin: 24px;
        width: 33.33%;
        padding: 27px 19px 24px;
        border: var(--border) var(--c-light);
        transition: var(--transition);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            align-items: flex-start;
            width: calc(50% - var(--sales-block-margin));
            margin-right: var(--sales-block-margin);
            margin-bottom: var(--sales-block-margin);
            padding: 27px 24px 24px;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: calc(33% - var(--sales-block-margin));
            &:last-child {
                width: 33%;
                margin-right: 0;
            }
        }
        &:hover {
            background-color: var(--c-back);
            cursor: pointer;
        }

        & .icon {
            width: 18px;
            height: 18px;
            margin-bottom: 19px;
            fill: var(--c-brandred);
            @include media-breakpoint-up(md, $grid-breakpoints) {
                margin-right: 19px;
                margin-bottom: 0;
            }
        }

        & .link {
            display: none;
            @include media-breakpoint-up(md, $grid-breakpoints) {
                display: block;
                font-weight: 700;
                text-transform: uppercase;
                color: var(--c-brandred);
            }
        }
    }

    &__block-wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 46px;
        }
    }

    &__block-title {
        font-size: 12px;
        text-align: center;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            font-size: 16px;
            font-weight: 700;
            text-align: left;
        }
    }

    &__block-text {
        display: none;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: block;
            margin-bottom: 12px;
            color: var(--c-second);
        }
    }

    &__table-inner {
        background-color: #E5E5E5;
    }
}

.sales-table {
    width: 100%;
    border-collapse: collapse;

    & thead {
        display: none;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: table-header-group;
            color: var(--c-tetriary);
        }
        & tr td {
            padding-top: 0;
        }
    }

    & tr td {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0;
        border: none;
        border-spacing: 0;
        &:first-child {
            border-bottom: var(--border) var(--c-light);
        }
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: table-cell;
            padding: 24px 0;
            &:first-child {
                padding-left: 24px;
                border-bottom: none;
            }
            &:last-child {
                padding-right: 24px;
            }
        }

        & .icon {
            width: 20px;
            height: 20px;
            margin-right: 14px;
            &._icon-mob {
                @include media-breakpoint-up(md, $grid-breakpoints) {
                    display: none;
                }
            }
        }

        &._status {
            display: none;
            @include media-breakpoint-up(md, $grid-breakpoints) {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
            }
            &._test {
                color: var(--c-orange);
            }
            &._ok {
                color: var(--c-green);
            }
            &._error {
                color: var(--c-brandred);
                & .icon {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        & span {
            display: inline-block;
            color: var(--c-tetriary);
            margin-left: auto;
            @include media-breakpoint-up(md, $grid-breakpoints) {
                margin-left: 18px;
            }
        }
    }

    & tbody tr {
        display: flex;
        flex-flow: column nowrap;
        padding: 0 16px;
        border-bottom: var(--border) var(--c-light);
        margin-bottom: 16px;
        background-color: var(--c-white);
        transition: var(--transition);

        &._info {
            color: var(--c-tetriary);
            & td {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                @include media-breakpoint-up(md, $grid-breakpoints) {
                    display: table-cell;
                }
            }

            & p {
                display: inline-block;
                max-width: 83%;
                @include media-breakpoint-up(md, $grid-breakpoints) {
                    position: relative;
                    top: -4px;
                    max-width: none;
                }
            }
        }

        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: table-row;
            padding: 0;
            margin-bottom: 0;
            background-color: transparent;
        }
    }

    & tbody tr:hover {
        background-color: var(--c-white);
        & td {
            background-color: var(--c-white);
        }
    }

    &__mob-text {
        color: var(--c-tetriary);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: none;
        }
    }

    & ._spec-mob-date {
        display: none;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: inline-block;
        }
    }

    & ._spec-mob {
        margin-left: 0;
        margin-right: auto;
        color: var(--c-tetriary);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: none;
        }

        &._test {
            color: var(--c-orange);
        }

        &._ok {
            color: var(--c-green);
        }

        &._error {
            color: var(--c-brandred);
        }
    }
}
