.team {
    background-color: var(--c-back);

    &__wrapp {
        align-self: stretch;
    }

    &__wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding-top: 50px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding-top: 0;
        }
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            flex-flow: row nowrap;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__inner {
        width: 100%;
        align-self: stretch;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        padding-top: 38px;
        background-color: var(--c-back);
        &:last-of-type {
            background-color: var(--c-white);
        }
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            width: 50%;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: 33%;
            padding: 38px 50px;
            &:last-of-type {
                width: 66%;
            }
        }
    }

    &__title {
        width: 100%;
        margin-bottom: 50px;

        & span {
            color: var(--c-brandred);
        }
    }

    &__progressBar {
        max-width: 300px;
        margin-bottom: 50px;
    }

    &__progressBar-text {
        max-width: 272px;
        margin-bottom: 60px;
        text-align: center;
        color: var(--c-second);
    }

    &__btn {
        justify-content: center;
        width: 100%;
        margin-bottom: 24px;

        &._helper {
            margin-bottom: 36px;
            @include media-breakpoint-up(md, $grid-breakpoints) {
                margin-bottom: 110px;
            }
        }
    }

    &__link {
        display: block;
        margin-bottom: 24px;
        margin-right: auto;
        text-align: left;
    }

    &__subtitle {
        width: 100%;
        margin-bottom: 16px;
        font-size: var(--f-s-h3);
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            margin-bottom: 40px;
        }
    }

    &__list {
        width: 100%;
        padding-top: 16px !important;
        border-top: var(--border) var(--c-light);

        &._special {
            & .team__list-text-per {
                display: none;
                @include media-breakpoint-up(sm, $grid-breakpoints) {
                    display: block;
                    color: var(--c-brandred);
                }
            }

            & .team__list-text {
                margin-left: auto;
            }
        }

        & .widget-lk__item:nth-of-type(n+3) {
            & .team__list-text-per {
                color: var(--c-orange);
            }
        }

        &._stat {
            border-top: none;

            & .widget-lk__item {
                flex-flow: row wrap;
                align-items: flex-start;
                @include media-breakpoint-up(sm, $grid-breakpoints) {
                    flex-flow: row nowrap;
                    align-items: center;
                }
            }

            & .widget-lk__item::before {
                display: none;
            }

            & .widget-lk__item-member {
                width: 100%;
                &:first-of-type {
                    order: -2;
                    width: auto;
                }

                @include media-breakpoint-up(sm, $grid-breakpoints) {
                    width: auto;
                    margin-right: 24px;
                    &:first-of-type {
                        order: 0;
                    }
                }
            }

            & .team__list-text {
                width: 100%;
                color: var(--c-tetriary);
                margin-left: 0;
                @include media-breakpoint-up(sm, $grid-breakpoints) {
                    min-width: 100px;
                    width: auto;
                    margin-left: auto;
                }
            }

            & .team__list-text-per {
                order: -1;
                min-width: 90px;
                margin-left: auto;
                text-align: right;
                @include media-breakpoint-up(sm, $grid-breakpoints) {
                    order: 0;
                    margin-left: 0;
                }
            }
        }
    }

    &__list-text {
        margin-left: auto;
        margin-right: 16px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-right: 48px;
        }
    }

    &__promo-inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 56px;
    }

    & .widget-link {
        width: 275px;
        margin-bottom: 24px;
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            width: 345px;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-right: 24px;
            margin-bottom: 0;
        }
    }

    &__promo-text {
        max-width: 264px;
        color: var(--c-second);
    }

    &__rating {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 47px 24px 47px 31px;
        margin-bottom: 56px;
        background-color: var(--c-back);
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            flex-flow: row nowrap;
            align-items: center;
        }
    }

    &__rating-icon {
        width: 42px;
        height: 42px;
        margin-bottom: 31px;
        fill: var(--c-brandred);
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            margin-bottom: 0;
            margin-right: 30px;
        }
    }

    &__rating-inner {
        margin-bottom: 16px;
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            margin-right: 30px;
            margin-bottom: 0;
        }
    }

    &__rating-title {
        margin-bottom: 24px;
        font-size: 18px;
        font-weight: 700;
        & span {
            color: var(--c-brandred);
        }
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            margin-bottom: 4px;
            font-size: 20px;
        }
    }

    &__rating-text {
        color: var(--c-tetriary);
    }

    &__rating-btn {
        width: 56px;
        min-width: auto;
        height: 56px;
        &:hover .icon {
            fill: var(--c-white);
        }
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            margin-left: auto;
        }
    }

    &__rating-btn .icon {
        fill: var(--c-brandred);
    }

    & .chart-container {
        width: 100%;
        min-height: 260px;
    }
}

.no-team {
    background-color: var(--c-back);

    &__wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        width: 100%;
        padding-bottom: 60px;
        padding-top: 80px;
        background-color: var(--c-white);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding-bottom: 126px;
            padding-top: 102px;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            flex-flow: row nowrap;
            justify-content: center;
        }
    }

    &__promo-inner {
        &:first-child {
            margin-right: 0;
            @include media-breakpoint-up(lg, $grid-breakpoints) {
                margin-right: 184px;
                &:last-child {
                    width: 33%;
                }
            }
        }
    }

    &__title {
        margin-bottom: 4px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-bottom: 24px;
        }
    }

    &__promo-text {
        margin-bottom: 24px;
        font-size: var(--f-s-h3);
        line-height: 1.8;
        color: var(--c-second);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            max-width: 368px;
            margin-bottom: 0;
        }
    }

    & .widget-link {
        width: 100%;
        margin-bottom: 34px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: 345px;
        }
    }

    &__text {
        width: 100%;
        color: var(--c-second);
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            width: 345px;
        }
    }

    &__future {
        margin-bottom: 24px;
    }

    &__inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding-top: 24px;
        padding-bottom: 24px;
        background-color: var(--c-back);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding-top: 48px;
            padding-bottom: 48px;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            justify-content: center;
        }
    }

    &__inner-link-helper {
        width: 100%;
        margin-top: 38px;
    }

    &__inner-link {
        display: block;
        margin: 0 auto;
        color: var(--c-primary);
        border-bottom: 1px dashed var(--c-tetriary);
    }

    &__item {
        --team-item-margin: 24px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        align-self: stretch;
        margin-bottom: var(--team-item-margin);
        width: 100%;
        padding: 60px 40px;
        text-align: center;
        background-color: var(--c-white);

        @include media-breakpoint-up(sm, $grid-breakpoints) {
            margin-right: var(--team-item-margin);
            margin-bottom: var(--team-item-margin);
            width: calc(50% - var(--team-item-margin));
            &:nth-of-type(2n) {
                width: 50%;
                margin-right: 0;
            }
        }


        @include media-breakpoint-up(lg, $grid-breakpoints) {
            max-width: 344px;
            width: calc(33% - var(--team-item-margin));
            margin-bottom: 0;
            &:nth-of-type(2n) {
                width: calc(33% - var(--team-item-margin));
                margin-right: var(--team-item-margin);
            }
            &:last-child {
                width: 33%;
                margin-right: 0;
            }
        }
    }

    &__item-wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 96px;
        height: 96px;
        padding: 20px;
        margin-bottom: 50px;
        border-radius: 50%;
        background-color: var(--c-brandred);
    }

    &__item-icon {
        width: 46px;
        height: 46px;
        fill: var(--c-white);
    }

    &__item-promo-text {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    &__item-text {
        color: var(--c-second);
    }

    &__item-title {
        font-size: var(--f-s-title);
    }
}