.tickets {
    position: relative;
    background-color: var(--c-back);
    & ._ticket {
        display: none;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: flex;
        }

        &._visible {
            position: absolute;
            top: 50px;
            left: 0;
            display: block;
        }
    }

    &__wrapp {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: stretch;
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        flex-grow: 1;
        width: 100%;
        padding-top: 50px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding-top: 0;
        }
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            flex-flow: row nowrap;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__inner {
        width: 100%;
        align-self: stretch;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
        padding-top: 38px;
        background-color: var(--c-back);
        &:last-of-type {
            background-color: var(--c-white);
        }
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            width: 50%;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: 33%;
            padding: 38px 50px;
            &:last-of-type {
                width: 66%;
            }
        }
    }

    &__title {
        width: 100%;
        margin-bottom: 50px;

        & span {
            color: var(--c-brandred);
        }
    }

    &__btn {
        width: 100%;
        max-width: 352px;
        margin-bottom: 50px;
        margin-right: auto;
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            margin-right: 0;
        }
        & .icon {
            margin-right: 10%;
            @include media-breakpoint-up(xl, $grid-breakpoints) {
                margin-right: 15%;
            }
            @include media-breakpoint-up(xxl, $grid-breakpoints) {
                margin-right: 20%;
            }
        }
    }

    &__info-text {
        width: 100%;
        margin-bottom: 24px;
        color: var(--c-tetriary);
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            text-align: center;
        }
    }

    &__no-tickets-icon {
        width: 60px;
        height: 57px;
        margin-top: 100px;
        margin-bottom: 32px;
        fill: var(--c-tetriary);
    }

    &__no-tickets-text {
        max-width: 248px;
        margin-bottom: 52px;
        font-size: var(--f-s-h3);
        text-align: center;
        color: var(--c-tetriary);
    }

    &__no-tickets-help {
        max-width: 300px;
        margin-bottom: 15px;
        text-align: center;
        & a {
            border-bottom: var(--border) var(--c-brandred);
            color: var(--c-brandred);
            transition: var(--transition);
            &:hover {
                opacity: .8;
            }
        }
    }

    &__form-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: flex-start;
        width: 100%;
    }

    &__form-textarea {
        width: 100%;
        margin-bottom: 24px;
    }

    &__form-inner-attach {
        margin-right: 16px;
    }

    &__form-btn {
        width: auto !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    &__ticket-item {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 16px 24px 24px;
        border-top: var(--border) var(--c-light);
        transition: var(--transition);
        &:hover {
            border-color: transparent;
            background-color: var(--c-white);
            & .icon {
                fill: var(--c-black);
            }
        }

        &._active {
            border-color: transparent;
            background-color: var(--c-white);
            & .icon {
                fill: var(--c-black);
            }
        }

        & .icon {
            position: absolute;
            top: 50%;
            margin-top: -8px;
            right: 24px;
            width: 8px;
            height: 16px;
            fill: var(--c-tetriary);
        }
    }

    &__ticket-item-status {
        width: 8px;
        height: 8px;
        margin-right: 12px;
        border-radius: 50%;
        background-color: var(--c-tetriary);
        &._red {
            background-color: var(--c-brandred);
        }
    }

    &__ticket-item-date {
        margin-right: 12px;
        font-weight: 700;
    }

    &__ticket-item-number {
        font-weight: 700;
        color: var(--c-tetriary);
    }

    &__ticket-item-text {
        width: 100%;
        max-width: 80%;
        margin-top: 16px;
        text-align: left;
    }

    &__subtitle {
        margin-bottom: 34px;
        margin-right: auto;
        font-size: var(--f-s-h3);
    }

    &__msg-inner {
        max-width: 468px;
        margin-right: auto;
        margin-bottom: 40px;
    }

    &__msg-inner._right {
        margin-left: auto;
        margin-right: 0;
        .tickets__msg-text {
            border-color: transparent;
            background-color: var(--c-back);
        }
        .tickets__msg-text {
            margin-left: auto;
        }

        .tickets__msg-date {
            text-align: right;
        }
    }

    &__msg-text {
        padding: 24px;
        border: var(--border) var(--c-light);
        margin-bottom: 12px;
    }

    &__msg-date {
        display: block;
        width: 100%;
        font-size: 12px;
        color: var(--c-tetriary);
    }

    &__form-msg {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-top: auto;
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            flex-flow: row nowrap;
        }

        & .btn-attach {
            position: absolute;
            top: 0;
            right: 0;
            border-color: transparent;
        }

        & .btn {
            justify-content: center;
            text-align: center;
            @include media-breakpoint-down(sm, $grid-breakpoints) {
                width: 100%;
            }
        }
    }

    &__form-msg-inner {
        position: relative;
        width: 100%;
        margin-bottom: 24px;
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            margin-right: 24px;
            margin-bottom: 0;
        }
    }

    &__form-msg-text {
        width: 100%;
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            margin-right: 24px;
        }
    }

    &__back-btn {
        position: relative;
        top: 3px;
        padding-right: 16px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: none;
        }
        .icon {
            width: 18px;
            height: 20px;
            fill: var(--c-black);
        }
    }
}