.content-page {
    margin-top: 60px;
    & h1 {
        margin-bottom: 16px;
        font-size: var(--f-s-title);
    }

    & h2 {
        margin-top: 44px;
        font-size: var(--f-s-h3);
        font-weight: 400;
    }

    & img {
        object-fit: cover;
    }

    & li {
        margin-bottom: 12px;
    }

    & li img {
        margin-top: 8px;
        margin-bottom: 24px;
    }

    & .btn {
        width: fit-content;
    }
}