.gift-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    &__img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    &__wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        flex-grow: 1;
        width: 100%;
        padding: 24px 16px 34px;
        border: var(--border) var(--c-light);
        border-top: none;

    }

    &__bonus {
        margin-bottom: 12px;
        font-size: var(--f-s-h3);
    }

    &__text {
        margin-bottom: 24px;
    }

    &__inner {
        display: flex;
        flex-flow: row nowrap;
    }

    & .btn {
        justify-content: center;
        width: 50%;
        border-color: transparent;
    }

    & .input, .select2 {
        width: 50%;
    }

    & .select2 {
        width: 50% !important;
    }
}