.gift-order {
    padding-bottom: 90px;
    @include media-breakpoint-up(md, $grid-breakpoints) {
        padding-bottom: 0;
    }
    &__wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--c-back);
        padding: 16px 24px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding: 52px 68px;
        }
    }

    &__img {margin-bottom: 22px;
        box-shadow: 0 16px 24px rgba(0, 0, 0, 0.16);
    }

    &__name {
        margin-bottom: 4px;
        font-size: var(--f-s-h3);
        text-align: center;
    }

    &__text {
        max-width: 390px;
        text-align: center;
        color: var(--c-second);
    }

    &__inner {
        padding: 16px 24px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            height: 100%;
            padding: 44px 68px;
        }
    }

    &__form {
        display: flex;
        flex-flow: column nowrap;
    }

    &__label {
        margin-bottom: 14px;
        margin-top: 24px;
        font-weight: 700;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__input, .select2 {
        width: 100%;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            width: auto;
        }
    }

    &__form-subtext {
        margin-top: 4px;
        font-size: var(--f-s-small);
        color: var(--c-tetriary);
    }

    &__form-inner {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 34px;
        &:last-child {
            justify-content: space-between;
        }
        @include media-breakpoint-up(md, $grid-breakpoints) {
            flex-flow: row nowrap;
        }
    }

    &__form-wrapp {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        &:first-child {
            @include media-breakpoint-up(md, $grid-breakpoints) {
                width: 60%;
                margin-right: 24px;
            }

            & .select2 {
                width: 100% !important;
            }
        }
    }

    &__form-bonus {
        margin-bottom: 15px;
        font-size: var(--f-s-title);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-bottom: 0;
        }
    }

    &__form-inner .btn {
        width: 100%;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            width: auto;
            min-width: 148px;
        }
    }
}