.learn-card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;

    &__img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    &__wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        flex-grow: 1;
        width: 100%;
        padding: 24px 16px 34px;
        border: var(--border) var(--c-light);
        border-top: none;
    }

    &__title {
        margin-bottom: 12px;
        font-size: 20px;
    }

    &__text {
        margin-bottom: 24px;
        color: var(--c-second);
    }

    &__inner {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 100%;
        margin-top: auto;
    }

    & .btn {
        justify-content: center;
        width: 100%;
        border-color: transparent;
        &:nth-of-type(2) {
            margin-top: 14px;
        }
    }

    &__label {
        position: absolute;
        top: 24px;
        left: 24px;
        width: auto;
        padding: 4px 12px;
        font-size: var(--f-s-small);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--c-white);
        background-color: var(--c-yellow);
        &._gray {
            background-color: var( --c-second);
        }
        &._black {
            background-color: var( --c-black);
        }
        &._green {
            background-color: var( --c-green);
        }
    }

    &__spec-text {
        width: 100%;
        height: 55px;
        text-align: center;
    }
}