.lk-promo {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 35px;
    --lk-promo-padding: 20px;
    color: var(--c-white);
    @include media-breakpoint-up(md, $grid-breakpoints) {
        flex-flow: row nowrap;
        padding-left: 20px;
        margin-bottom: 0;
        background: url('/assets/img/lk/bg1.jpg') no-repeat;
        background-size: cover;
    }
    @include media-breakpoint-up(llg, $grid-breakpoints) {
        padding-left: 50px;
    }
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        --lk-promo-padding: 50px;
    }

    &__inner {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 95px 15px 40px 20px;
        background: url('/assets/img/lk/bg1-mob.jpg') no-repeat;
        background-size: cover;

        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding-top: var(--lk-promo-padding);
            padding-bottom: var(--lk-promo-padding);
            padding-left: 0;
            background: none;
        }
    }

    &__name {
        width: 75%;
        margin-bottom: 20px;
        font-size: var(--f-s-title);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            width: 100%;
            margin-bottom: 40px;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-bottom: 100px;
        }
    }

    &__address {
        width: 75%;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            width: 100%;
        }
    }

    &__icon {
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: none;
        }
    }

    &__wrapper-icon {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 40px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-right: 20px;
            margin-bottom: 0;
        }
    }

    &__subtitle {
        font-size: var(--f-s-h3);
    }

    &__text {
        display: none;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: block;
            max-width: 180px;
            font-size: var(--f-s-small);
            color: var(--c-white-light);
        }
    }

    &__link {

    }

    &__wrapper .icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        fill: var(--c-brandred);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-right: 20px;
        }

        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: 45px;
            height: 45px;
        }
    }

    &__wrapper {
        --promo-wrapper-padding: 20px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        width: 50%;
        height: initial;
        padding: var(--lk-promo-padding) var(--promo-wrapper-padding);
        transition: var(--transition);

        &._bonus {
            @include media-breakpoint-down(md, $grid-breakpoints) {
                background-color: var(--c-black);
            }
        }

        &._qr {
            @include media-breakpoint-down(md, $grid-breakpoints) {
                background-color: var(--c-brandred);
                & .icon {
                    fill: var(--c-white) !important;
                }
            }
        }

        &:hover {
            color: var(--c-white) !important;
            background-color: var(--c-brandred);
            border-color: var(--c-brandred);


            & svg {
                fill: var(--c-white) !important;
            }

            & .lk-promo__link {
                display: block;
            }

            & .lk-promo__text {
                color: var(--c-white);
            }
        }

        @include media-breakpoint-up(md, $grid-breakpoints) {
            max-width: 275px;
            &:not(:last-child) {
                border-right: var(--border) var(--c-white-light);
                border-left: var(--border) var(--c-white-light);
            }
        }

        @include media-breakpoint-up(llg, $grid-breakpoints) {
            --promo-wrapper-padding: 25px;
            padding-left: var(--promo-wrapper-padding);
            padding-right: var(--promo-wrapper-padding);
        }

        @include media-breakpoint-up(lg, $grid-breakpoints) {
            --promo-wrapper-padding: 35px;
            padding-left: var(--promo-wrapper-padding);
            padding-right: var(--promo-wrapper-padding);
        }
    }
}
