.modal {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 90%;
    min-height: 100vh;
    background-color: var(--c-white);
    animation: rightAnimate 0.4s ease;
    @include media-breakpoint-up(md, $grid-breakpoints) {
        width: 60%;
    }
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        width: 40%;
    }

    &._visible {
        position: fixed;
        z-index: 1000;
        display: block;
        max-width: 528px;
        height: 100%;
        overflow-y: scroll;
    }

    &._standart {
        padding: 60px 48px;
    }

    &__title {
        font-size: var(--f-s-title);
        padding-bottom: 28px;
        border-bottom: var(--border) var(--c-light);
        margin-bottom: 40px;
    }

    &__text {
        margin-bottom: 4px;
        color: var(--c-primary);
    }

    &__btn-inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 60px;

        @include media-breakpoint-up(md, $grid-breakpoints) {
            & .btn {
                width: 50%;
            }

            & .btn:first-of-type {
                width: calc(50% - 16px);
                margin-right: 16px;
            }
        }
    }
}

.modal-form {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: unset;
    padding: 32px 24px 16px;
    @include media-breakpoint-up(md, $grid-breakpoints) {
        padding: 54px 68px 16px;
    }

    &._visible {
        display: flex !important;
    }

    &__title {
        margin-bottom: 20px;
        font-size: var(--f-s-title);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-bottom: 59px;
        }
    }

    &__form {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__label {
        margin-bottom: 16px;
        margin-top: 24px;
        font-weight: 700;
    }

    &__input, & .select2 {
        width: 100% !important;
        margin-bottom: 4px;
    }

    &__inner {
        margin-bottom: 24px;
        margin-top: 24px;
    }

    &__hint {
        margin-bottom: 32px;
        font-size: var(--f-s-small);
        color: var(--c-second);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-bottom: 40px;
        }
    }

    & .btn {
        width: 100%;
        margin-bottom: 40px;
        margin-top: 16px;

        &._reg {
            margin-bottom: 24px;
            margin-top: 36px;
        }
    }

    &__forgot {
        width: fit-content;
        margin-bottom: 48px;
        border-bottom: var(--border) var(--c-tetriary);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-bottom: 16px;
        }
    }

    &__wrapper {
        position: relative;
        margin-top: auto;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 11px;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--c-light);
        }
    }

    &__text-help {
        width: fit-content;
        z-index: 2;
        padding: 0 27px;
        margin: 0 auto 32px;
        text-align: center;
        background-color: var(--c-white);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin: 0 auto 48px;
        }
    }

    &__form-text {
        margin-bottom: 51px;
        color: var(--c-second);

        & .link {
            color: var(--c-brandred);
            border-bottom: var(--border) var(--c-brandred-light);
        }
    }

    &._reg {
        position: relative !important;
        width: 100%;
        padding: 0;
        z-index: 999999999999;
        background-color: transparent;
        overflow: auto;
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            left: 50%;
            margin-left: -258px;
            padding: 46px 0;
        }
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding: 46px 0;
        }

        & .logo {
            margin-bottom: 0;
        }

        & .modal-form__reg-inner {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 48px;
            padding: 0 26px;
            @include media-breakpoint-up(sm, $grid-breakpoints) {
                padding: 0 31px;
            }
        }

        & .modal-form__reg-back {
            height: 24px;
        }

        & .modal-form__reg-back .icon {
            width: 24px;
            height: 24px;
            margin-right: 56px;
            fill: var(--c-white);
        }

        .modal-form__title {
            background-color: var(--c-white);
            padding: 36px 24px 20px;
            margin-bottom: 0;
            @include media-breakpoint-up(sm, $grid-breakpoints) {
                padding: 32px 24px 20px;
            }
            @include media-breakpoint-up(md, $grid-breakpoints) {
                padding: 54px 68px 59px;
                margin-bottom: 0;
            }
        }

        .modal-form__form {
            padding: 0 24px 16px;
            background-color: var(--c-white);
            @include media-breakpoint-up(md, $grid-breakpoints) {
                padding: 0 68px 16px;
            }
        }

        & .modal-form__wrapper {
            z-index: 5;
            top: -2px;
            padding: 0 24px 16px;
            background-color: var(--c-white);
            @include media-breakpoint-up(md, $grid-breakpoints) {
                padding: 0 68px 16px;
            }
        }

        & .modal-form__wrapper .btn {
            background-color: var(--c-white);
        }

        & .modal-form__text-help {
            margin-bottom: 24px;
            @include media-breakpoint-up(md, $grid-breakpoints) {
                margin-bottom: 24px;
            }
        }
    }
}