.notifications {
    position: absolute;
    top: 62px;
    right: 0;
    max-width: 436px;
    background-color: var(--c-white);
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.24);
    @include media-breakpoint-up(md, $grid-breakpoints) {
        top: 76px;
        right: 24px;
    }
    &__item {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 16px 20px;
        border-bottom: 1px solid #E1E1E1;
    }

    &__item-inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 18px;
    }

    & .icon {
        width: 16px;
        height: 20px;
        margin-right: 20px;
        fill: var(--c-black);
    }

    &__text {
        font-weight: 700;
    }

    &__item-date {
        color: var(--c-second);
    }

    &__item-link {
        color: var(--c-tetriary);
    }

    &__item._success {
        & .icon {
            width: 16px;
            height: 20px;
            margin-right: 20px;
            fill: var(--c-green);
        }

        & .notifications__item-text span {
            color: var(--c-green);
        }
    }

    &__item._error {
        & .icon {
            width: 16px;
            height: 20px;
            margin-right: 20px;
            fill: var(--c-brandred);
        }

        & .notifications__item-text span {
            color: var(--c-brandred);
        }
    }

    &__item._chat {
        & .icon {
            width: 16px;
            height: 20px;
            margin-right: 20px;
            fill: var(--c-green);
        }

        & .notifications__item-text span {
            color: var(--c-green);
        }
    }

    &__item:hover {
        background-color: var(--c-back);
        transition: var(--transition);
        & .icon {
            width: 16px;
            height: 20px;
            margin-right: 20px;
            fill: var(--c-black);
        }

        & .notifications__item-text span {
            color: var(--c-black);
        }

        & .notifications__item-link {
            color: var(--c-brandred);
        }
    }
}