.qr-modal {
    display: none;
    overflow: auto !important;

    &._success  &__wrapper {
        background-color: var(--c-green);
    }

    &._error &__wrapper {
        background-color: var(--c-brandred);
    }

    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 38px 15px;
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            padding: 94px 15px;
        }
    }

    & .icon {
        width: 53px;
        height: 66px;
        fill: var(--c-white);
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            width: 80px;
            height: 100px;
        }
    }

    &__inner {
        padding: 32px 24px 15px;
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            padding: 48px 48px 15px;
        }
    }

    &__title {
        margin-bottom: 8px;
        font-size: var(--f-s-h3);
    }

    &__text {
        margin-bottom: 32px;
        color: var(--c-second);
        @include media-breakpoint-up(llg, $grid-breakpoints) {
            margin-bottom: 48px;
        }
    }
}