.qr {
    --max-width-qr: 528px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    width: 100%;
    min-height: 100vh;
    padding: 65px 20px 48px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include media-breakpoint-up(md, $grid-breakpoints) {
        padding: 120px 20px;
    }

    &._visible {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    &__text {
        z-index: 5;
        max-width: var(--max-width-qr);
        margin-bottom: 48px;
        font-size: 16px;
        text-align: center;
        color: var(--c-white);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-bottom: 75px;
            font-size: var(--f-s-h3);
        }
    }

    &__scan {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 50;
        width: 100%;
        min-width: 100vw;
        height: 100%;
        min-height: 100vh;
        transform: scale(1.5);
        background-color: rgba(0, 0, 0, 0.5);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            transform: scale(1);
        }
    }

    &__scan-block {
        z-index: 55;
        width: 200px;
        height: 200px;
        margin-bottom: 54px;
        background: rgba(255, 255, 255, 0.2);
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            width: 252px;
            height: 252px;
            margin-bottom: 0;
        }
    }

    &__inner {
        z-index: 500;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        max-width: var(--max-width-qr);
        color: var(--c-white);
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }

    &__link {
        z-index: 500;
        font-size: var(--f-s-btn);
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.1em;
        &:first-child {
            margin-bottom: 24px;
        }
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            text-align: left;
            &:first-child {
                margin-right: 52px;
                margin-bottom: 0;
            }
        }
    }
}