.text-promo {
    width: 100%;
    padding: 95px 20px 15px;
    @include media-breakpoint-up(md, $grid-breakpoints) {
        padding: 34px 50px 46px;
        border-bottom: var(--border) var(--c-light);
    }

    &__inner {
        display: flex;
        flex-flow:  column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            flex-flow:  row nowrap;
        }
    }

    &__title {
        width: 300px;
    }

    &__text {
        max-width: 620px;
        color: var(--c-second);
        & a {
            border-bottom: 1px dashed #B4B4B4;
            color: var(--c-black);
        }
    }
}