.widget-lk {
    position: relative;
    z-index: 1;
    width: 100%;
    --widget-padding: 25px;
    padding: 0 0 25px;
    margin-bottom: 25px;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -24px;
        width: calc(100% + 48px);
        height: 1px;
        background-color: var(--c-light);
    }

    @include media-breakpoint-up(md, $grid-breakpoints) {
        display: flex;
        flex-flow: column nowrap;
        align-self: stretch;
        width: 325px;
        padding: 25px 0;
        border: var(--border) var(--c-light);
        &::before {
            display: none;
        }
        &:not(:last-child) {
            margin-right: 25px;
        }
    }

    @include media-breakpoint-up(xxl, $grid-breakpoints) {
        width: 400px;
        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &._bg {
        @include media-breakpoint-up(md, $grid-breakpoints) {
            color: var(--c-white);
            background: url('/assets/img/lk/widget-bg.jpg') no-repeat;
            background-size: cover;
        }

        &::after {
            @include media-breakpoint-up(md, $grid-breakpoints) {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.24);
                backdrop-filter: blur(16px);
            }
        }

        & .btn {
            @include media-breakpoint-up(md, $grid-breakpoints) {
                border: none;
                color: var(--c-white);
                background: rgba(45, 45, 45, 0.4);
            }
        }

        & .icon {
            @include media-breakpoint-up(md, $grid-breakpoints) {
                fill: var(--c-white);
            }
        }

        & .widget-lk__text {
            margin-bottom: 27px;
            color: var(--c-tetriary);
        }
    }

    &._banner {
        padding: 0;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__text, &__item, &__inner, &__list, &__progressBar, &__team-title, &__team-text {
        z-index: 10;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding-left: var(--widget-padding);
            padding-right: var(--widget-padding);
        }
    }

    & .widget-link {
        margin: auto auto 0;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-left: var(--widget-padding);
            margin-right: var(--widget-padding);
        }
    }

    &__btn {
        z-index: 10;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-top: auto;
            margin-left: var(--widget-padding);
            margin-right: var(--widget-padding);
        }
    }

    &__inner {
        z-index: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 25px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding-bottom: 20px;
            border-bottom: var(--border) var(--c-light);
        }
    }

    &__rules-list {
        z-index: 10;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding-bottom: 34px;
            border-bottom: var(--border) var(--c-white-light);
            margin-left: var(--widget-padding);
            margin-right: var(--widget-padding);
        }
    }

    &__rules-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    &__rules-text {
        max-width: 233px;
        margin-right: 10px;
    }

    &__rules-bonus {
        font-weight: 700;
    }

    &__inner .icon {
        position: relative;
        z-index: 10;
        width: 20px;
        height: 20px;
        margin-right: 15px;
        fill: var(--c-tetriary)
    }

    &__title {
        z-index: 10;
        font-weight: 700;

        &._special {
            margin-left: auto;
            font-weight: 400;
            color: var(--c-tetriary);
        }
    }

    &__text {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        color: var(--c-tetriary);
    }

    &__team-title {
        margin-bottom: 16px;
        font-size: 20px;
        font-weight: 700;
    }

    &__team-text {
        margin-bottom: 24px;
        color: var(--c-second);
    }

    &__list {
        counter-reset: myCounter;
    }

    &__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 24px;

        &:before {
            counter-increment: myCounter;
            content: counter(myCounter);
            color: var(--c-black);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            width: 24px;
            height: 24px;
            font-size: var(--f-s-small);
            background-color: var(--c-back);
            border-radius: 50%;
        }

        &:first-child  &-bonus, &:nth-child(2) &-bonus {
            color: var(--c-brandred);
        }

        &:nth-child(3)  &-bonus, &:nth-child(4)  &-bonus, &:nth-child(5) &-bonus {
            color: var(--c-orange);
        }
    }

    &__item-bonus {
        margin-left: auto;
        color: var(--c-tetriary);
    }

    &__progressBar {
        position: relative;
        width: 100%;
        background: url('/assets/img/speed.png') no-repeat center 24px;
        background-size: 90%;
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            background: url('/assets/img/speed.png') no-repeat center 55px;
            background-size: 90%;
        }
        @include media-breakpoint-up(md, $grid-breakpoints) {
            background: url('/assets/img/speed.png') no-repeat center 20px;
            background-size: 73%;
        }
    }

    &__progressBar-inner {
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        & .icon {
            width: 12px;
            height: 16px;
            margin-right: 7px;
        }
    }

    & .progressbar__label {
        top: 55% !important;
        color: var(--c-black) !important;
    }
}
