.widget-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 275px;
    height: 56px;
    border: var(--border) var(--c-tetriary);
    @include media-breakpoint-up(sm, $grid-breakpoints) {
        width: 345px;
    }
    &__text {
        width: 243px;
        padding: 0 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            width: 345px;
        }
    }

    &__inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: inherit;
        background-color: var(--c-brandred);
        transition: var(--transition);
        &:hover {
            background-color: var(--c-black);
        }
    }

    & .icon {
        width: 20px;
        height: 20px;
        fill: var(--c-white);
    }
}