.btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-width: 140px;
    padding: 17px 20px;
    border: var(--border) var(--c-light);
    font-size: var(--f-s-btn);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: var(--c-primary);
    transition: var(--transition);
    &:hover {
        color: var(--c-white);
        background-color: var(--c-black) !important;
        border: var(--border) var(--c-black);

        & .icon {
            fill: var(--c-white);
        }
    }

    &:active {
        color: var(--c-white);
        background-color: var(--c-primary);
    }

    &._link {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        letter-spacing: 0;
        text-transform: none;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 55px;
            width: 1px;
            height: 100%;
            background-color: var(--c-light);
        }
    }

    & .icon {
        width: 20px;
        height: 20px;
        fill: var(--c-black);
    }

    &._special {
        color: var(--c-white);
        background-color: var(--c-brandred);
        border-color: var(--c-brandred);
        &:hover {
            color: var(--c-white);
            background-color: var(--c-black);
            border-color: var(--c-black);
            & .icon {
                fill: var(--c-white);
            }
        }

    }

    &[disabled] {
        border: var(--border) var(--c-light);
        color: var(--c-light);
        background-color: transparent;
        cursor: default;
        &:hover {
            border: var(--border) var(--c-light) !important;
            color: var(--c-light) !important;
            background-color: transparent !important;
        }
    }
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 60;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    line-height: 1;
    transition: var(--transition);
    @include media-breakpoint-up(sm, $grid-breakpoints) {
        background-color: var(--c-black);
    }
    & .icon {
        width: 20px;
        height: 20px;
        fill: var(--c-white);
    }


    &:hover {
        background-color: var(--c-white);
        & .icon {
            fill: var(--c-black);
        }
    }
}

.btn-attach {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    padding: 22px 18px;
    border: 1px dashed var(--c-tetriary);
    cursor: pointer;
    transition: var(--transition);
    :hover {
        border: 1px dashed var(--c-brandred);
        & .icon {
            fill: var(--c-brandred);
        }
    }
    & .icon {
        width: 12px;
        height: 20px;
        fill: var(--c-black);
        cursor: pointer;
    }

    & input {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparent;
        opacity: 0;
        cursor: pointer;
    }

    &._success {
        background-color: var(--c-green);
        & .icon {
            fill: var(--c-white);
        }
    }

    &._error {
        background-color: var(--c-brandred);
        & .icon {
            fill: var(--c-white);
        }
    }
}