.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    &__label {
        margin-bottom: 10px;
        font-weight: 500;
        color: var(--c-primary);
        animation: var(--animation);

        &._checkbox {
            margin-bottom: 0;
            margin-right: auto;
            font-size: var(--f-s-small);
            animation: var(--animation);
        }

    }

    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-bottom: 40px;
        }
    }

    &__input, .select2 {
        width: 100% !important;
        margin-bottom: 20px;
        animation: var(--animation);
    }

    &__link {
        font-size: var(--f-s-small);
    }

    &__link-helper {
        display: block;
        margin-bottom: 20px;
    }

    &__btn {
        margin-bottom: 20px;
        margin-top: 40px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-bottom: 40px;
        }
    }

    &__btn + &__link-helper {
        margin-top: 20px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            margin-top: 100px;
        }
    }

    &__text {
        font-family: var(--f-primary);
        font-weight: 400;
    }

    &__text._small {
        font-size: var(--f-s-small);
    }
}