.input, .select2 {
    height: 56px;
    padding: 10px 15px;
    border: var(--border) var(--c-tetriary);
    font-family: var(--f-primary);
    font-size: 16px;
    font-weight: 400;
    &::placeholder, .select2-selection__placeholder {
        font-family: var(--f-primary);
        font-size: 16px;
        font-weight: 400;
        color: var(--c-tetriary);
    }

    &._error {
        border: var(--border) var(--c-brandred);
    }

    &__error-text {
        font-size: var(--f-s-small);
        color: var(--c-brandred);
    }

    &[disabled] {
        background-color: var(--c-back);
        color: var(--c-tetriary);
    }
}

/* Стилизуем Select2 */

.select2-container--disabled {
    background-color: var(--c-back);
}

.select2-container--default .select2-selection--single {
    border: none;
    outline: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0;
    outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 17px;
    right: 17px;
    width: 10px;
    height: 10px;
    border: solid var(--c-tetriary);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: var(--c-black);
    background-color: var( --c-back);
}

.select2-results__option {
    padding: 10px 5px !important;
    font-family: var(--f-secondary) !important;
    font-weight: 400 !important;
    color: var(--c-black) !important;
}

.select2-dropdown {
    z-index: 9999999999999;
    border: none;
    padding: 8px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
}

.checkbox {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 25px;
    padding-left: 35px;
    user-select: none;
    cursor: pointer;
    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__label {
        margin-bottom: 0 !important;
        line-height: 1;
    }
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: var(--border) var(--c-tetriary);
    background-color: transparent;
}

.checkbox:hover input ~ .checkmark {
    border: var(--border) var(--c-black);
}

.checkbox input:checked ~ .checkmark {
    background-color: transparent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 8px;
    top: 4px;
    width: 7px;
    height: 12px;
    border: solid #FF0000;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}






/* Customize the label (the container) */
.radio-container {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.radio-container__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #B4B4B4;
    border-radius: 50%;
    margin-right: 16px;
    transition: var(--transition);
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-container__checkmark {
    border: 1px solid #000000;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-container__checkmark {
    border: 6px solid #FF0000;
    background-color: transparent;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-container__checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-container__checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}