.link {
    border-bottom: var(--border) transparent;
    transition: var(--transition);

    &._border {
        border-bottom: 1px dashed var(--c-tetriary);
    }

    &:hover {
        border-bottom: var(--border) var(--c-brandred);
    }

    &._active {
        &:hover {
            border-bottom: var(--border) transparent;
            cursor: default;
            & p {
                border-bottom: var(--border) transparent;
            }
        }
    }
}