.slick {
    position: relative;

    & .slick-arrow {
        --size-slider-arrow: 40px;
        position: absolute;
        z-index: 2;
        top: calc(50% - var(--size-slider-arrow)/2);
        width: var(--size-slider-arrow);
        height: var(--size-slider-arrow);
        border-radius: 50%;
        background-color: var(--c-white);
        font-size: 0;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
        transition: all 0.4s ease;
        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 0.6;
        }
        &::before {
            content: '';
            position: absolute;
            top: 34%;
            border: solid var(--c-black);
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 6px;
        }
    }

    & .slick-arrow._next {
        right: 40px;
        &::before {
            right: 40%;
            transform: rotate(-45deg);
        }
    }

    & .slick-arrow._prev {
        left: 40px;
        &::before {
            left: 40%;
            transform: rotate(135deg);
        }
    }

}