<section class="header-lk">
    <div class="header-lk__wrapper">
        <p class="header-lk__text">— Достигай большего</p>
        <button class="mobile-menu js-mob-menu-btn">
            <svg class="icon">
                <use xlink:href="#menu"/>
            </svg>
        </button>
        {% include '../modules/logo.twig' %}
        <div class="header-lk__inner">
            <button class="header-lk__btn" title="Вопрос-Ответ">
                <svg class="icon">
                    <use xlink:href="#question"/>
                </svg>
            </button>
            <button class="header-lk__btn js-chat-btn" title="Чат">
                <svg class="icon">
                    <use xlink:href="#chat"/>
                </svg>
            </button>
            <button class="header-lk__btn _mob _notice" title="Уведомления">
                <svg class="icon">
                    <use xlink:href="#notice"/>
                </svg>
                <span class="header-lk__btn-notice">4</span>
            </button>
        </div>
    </div>
    <section class="notifications hidden js-chat">
        <a class="notifications__item _success" href="#">
            <div class="notifications__item-inner">
                <svg class="icon">
                    <use xlink:href="#qr-success"/>
                </svg>
                <p class="notifications__item-text"><span>Ваш чек одобрен,</span> вознагражение начислено</p>
            </div>
            <p class="notifications__item-date">28 Янв, 16:32</p>
            <p class="notifications__item-link">Подробнее</p>
        </a>
        <a class="notifications__item _error" href="#">
            <div class="notifications__item-inner">
                <svg class="icon">
                    <use xlink:href="#qr-error"/>
                </svg>
                <p class="notifications__item-text"><span>Ваш чек не был принят.</span> Вознаграждение НЕ начислено</p>
            </div>
            <p class="notifications__item-date">28 Янв, 16:32</p>
            <p class="notifications__item-link">Подробнее</p>
        </a>
        <a class="notifications__item _chat" href="#">
            <div class="notifications__item-inner">
                <svg class="icon">
                    <use xlink:href="#chat"/>
                </svg>
                <p class="notifications__item-text">Ваша заявка отработана. Спасибо за обращение</p>
            </div>
            <p class="notifications__item-date">28 Янв, 16:32</p>
            <p class="notifications__item-link">Подробнее</p>
        </a>
    </section>
</section>