<nav class="left-menu js-mob-menu">
    {% include '../modules/logo.twig' %}
    <ul class="left-menu__list">
        <li class="left-menu__item">
            <a href="/lk.html" class="left-menu__link _active ">
                <svg class="icon">
                    <use xlink:href="#dashboard"/>
                </svg>
                <p class="left-menu__text">Главная</p>
            </a>
        </li>
        <li class="left-menu__item">
            <a href="/gifts.html" class="left-menu__link ">
                <svg class="icon">
                    <use xlink:href="#bonus"/>
                </svg>
                <p class="left-menu__text">Призы</p>
            </a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link ">
                <svg class="icon">
                    <use xlink:href="#graph"/>
                </svg>
                <p class="left-menu__text">Продажи</p>
            </a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link ">
                <svg class="icon">
                    <use xlink:href="#team"/>
                </svg>
                <p class="left-menu__text">Команда</p>
            </a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link ">
                <svg class="icon">
                    <use xlink:href="#cup"/>
                </svg>
                <p class="left-menu__text">Рейтинги</p>
            </a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link ">
                <svg class="icon">
                    <use xlink:href="#learn"/>
                </svg>
                <p class="left-menu__text">Обучение</p>
            </a>
        </li>
        <li class="left-menu__item _special">
            <div class="left-menu__link">
                <svg class="icon">
                    <use xlink:href="#profile"/>
                </svg>
                <p class="left-menu__text">Александр <span>2 500 Б</span></p>
            </div>
        </li>
        <li class="left-menu__item _mobile-item _border">
            <a href="#" class="left-menu__link ">
                <svg class="icon">
                    <use xlink:href="#question"/>
                </svg>
                <p class="left-menu__text">Вопрос-ответ</p>
            </a>
        </li>
        <li class="left-menu__item  _mobile-item">
            <a href="#" class="left-menu__link ">
                <svg class="icon">
                    <use xlink:href="#chat"/>
                </svg>
                <p class="left-menu__text">Обратная связь</p>
            </a>
        </li>
        <li class="left-menu__item">
            <a href="#" class="left-menu__link ">
                <svg class="icon">
                    <use xlink:href="#exit"/>
                </svg>
                <p class="left-menu__text">Выйти</p>
            </a>
        </li>
    </ul>
</nav>