.body {
    margin: 0;
    font-family: var(--f-primary);
    font-weight: 500;
    font-size: var(--f-s-default);
    line-height: 1.4;
    color: var(--c-black);
    scroll-behavior: smooth;
    &._modal-open {
        overflow: hidden;
    }
}