.header-lk {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 15px 20px;
    background-color: transparent;
    border-bottom: var(--border) var(--c-light);
    animation: mobile-menu 0.4s ease;
    @include media-breakpoint-up(md, $grid-breakpoints) {
        position: static;
        padding: 22px 50px;
        background-color: var(--c-white);
    }

    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &._fixed{
        width: 100%;
        border-bottom: none;
        background-color: var(--c-primary);
        opacity: 1;
    }

    & .logo {
        display: block;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: -5px;
        border-bottom: 0;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: none;
        }
    }

    & .mobile-menu .icon {
        width: 25px;
        height: 25px;
    }

    &__text {
        display: none;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: block;
            color: var(--c-tetriary);
        }
    }

    &__inner {
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__btn-notice {
        display: none;
    }

    &__btn {
        display: none;
        margin-right: 45px;

        &:last-child {
            margin-right: 0;
        }

        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: block;
        }

        &._mob {
            display: block;
        }

        &._mob svg {
            fill: var(--c-white);
            @include media-breakpoint-up(md, $grid-breakpoints) {
                fill: var(--c-second);
            }
        }

        &._notice {
            position: relative;
            & .header-lk__btn-notice {
                display: block;
                position: absolute;
                top: -9px;
                right: -10px;
                padding: 3px 6px;
                font-size: var(--f-s-small);
                line-height: 1;
                color: var(--c-white);
                background-color: var(--c-brandred);
                border-radius: 50%;
            }
        }
    }

    &__btn .icon {
        width: 20px;
        height: 20px;
        fill: var(--c-second);
    }

    & + div {
        width: 100%;
    }
}