.left-menu {
    position: relative;
    --left-menu-padding: 15px;
    display: none;
    min-height: 100vh;
    padding: 20px 0 80px;
    background-color: var(--c-primary);
    @include media-breakpoint-up(md, $grid-breakpoints) {
        display: block;
        align-self: stretch;
    }

    @include media-breakpoint-up(llg, $grid-breakpoints) {
        --left-menu-padding: 50px;
        padding: 30px 0 80px;
    }

    &._visible {
        position: fixed;
        z-index: 50000000;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 82% !important;
        max-width: none !important;
        overflow: scroll;
    }

    & .logo, &__link {
        padding-left: var(--left-menu-padding);
        padding-right: var(--left-menu-padding);
    }

    & .logo {
        display: none;
        width: 100%;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: block;
        }
        @include media-breakpoint-up(md, $grid-breakpoints) {
            padding-bottom: 33px;
            margin-bottom: 50px;
            border-bottom: var(--border) var(--c-second-light);
        }
    }

    &__list {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: var(--c-primary);
        @include media-breakpoint-up(md, $grid-breakpoints) {
            height: 98%;
        }
    }


    &__item {
        width: 100%;
        margin-bottom: 30px;
        &._special {
            order: -1;
            padding-bottom: 20px;
            border-bottom: var(--border) var(--c-second-light);
            @include media-breakpoint-up(md, $grid-breakpoints) {
                order: 0;
                padding-top: 20px;
                border-top: var(--border) var(--c-second-light);
                margin-top: auto;
            }
        }
        
        &._special span {
            display: block;
            margin-top: 5px;
            color: var(--c-tetriary);
        }

        &._special .left-menu__link {
            align-items: flex-start;
        }

        &._mobile-item {
            @include media-breakpoint-up(md, $grid-breakpoints) {
                display: none;
            }
        }

        &._border {
            width: 100%;
            padding-top: 35px;
            border-top: var(--border) var(--c-second-light);
        }
    }

    &__link {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-left: 4px solid transparent;
        transition: var(--transition);

        &._active {
            & .icon {
                fill: var(--c-brandred);
                cursor: default;
            }

            &:hover {
                border-left-color: transparent;
                cursor: default;
            }

            &:hover .icon {
                fill: var(--c-brandred) !important;
            }
        }

        & .icon {
            width: 20px;
            height: 20px;
            margin-right: 20px;
            fill: var(--c-second);
        }

        &:hover {
            border-left: 4px solid var(--c-brandred);
        }

        &:hover p {
            border-bottom: none !important;
        }

        &:hover .icon {
            fill: var(--c-white) !important;
        }
    }

    & div.left-menu__link {
        &:hover {
            border-color: transparent;
        }

        &:hover .icon {
            fill: var(--c-second) !important;
        }
    }

    &__text {
        margin-top: 2px;
        color: var(--c-white);
        line-height: 1;
    }
}