<section class="modal modal-form _auth js-auth">
    <p class="modal-form__title">Вход</p>
    <form  class="modal-form__form" action="">
        <label for="authEmail" class="label modal-form__label">Email</label>
        <input type="email" class="input modal-form__input _error" id="authEmail" placeholder="Ivanov@mail.ru">
        <p class="input__error-text">Неверный Email</p>
        <label for="authPass" class="label modal-form__label">Пароль</label>
        <input type="password" class="input modal-form__input" id="authPass" placeholder="****">
        <label class="checkbox modal-form__inner" for="rememberMe">
            <input class="checkbox__input" type="checkbox" id="rememberMe">
            <span class="checkmark"></span>
            Запомнить меня
        </label>
        <button class="btn _special">Войти</button>
    </form>
    <button class="link modal-form__forgot js-forgot-btn">Забыли пароль?</button>
    <div class="modal-form__wrapper">
        <p class="modal-form__text-help">Нет аккаунта?</p>
        <button class="btn js-reg-btn">Регистрация</button>
    </div>
</section>