<section class="modal modal-form _forgot-pass js-forgot-pass">
    <p class="modal-form__title">Восстановление пароля</p>
    <form  class="modal-form__form" action="">
        <label for="forgotEmail" class="label modal-form__label">Email</label>
        <input type="email" class="input modal-form__input _hint" id="forgotEmail" placeholder="Подсказка">
        <p class="modal-form__hint">
            На указанный Email будет выслан новый пароль
        </p>
        <button class="btn _special">Восстановить</button>
    </form>
</section>