<section class="qr-modal _success modal">
    <div class="gift-order__wrapper">
        <img class="gift-order__img" src="/assets/img/gifts/1.jpg" alt="">
    </div>
    <div class="qr-modal__inner">
        <p class="qr-modal__title">Спасибо за заказ</p>
        <p class="qr-modal__text">
            Ваш сертификат будет направлен по завершении отчетного периода нашей бонусной программы
        </p>
        <p class="qr-modal__text">
            Мы отправляем сертификаты каждые 3 месяца: 15 февраля, 15 мая, 15 августа, 15 ноября
        </p>
        <button class="btn">Мои заказы</button>
    </div>
</section>