<section class="modal modal-form js-new-ticket tickets__form">
    <p class="modal-form__title">Заявка в поддержку</p>
    <form  class="modal-form__form" action="">
        <label for="noTicketsComment" class="label modal-form__label">Опишите проблему как можно подробнее</label>
        <textarea class="tickets__form-textarea" name="noTicketsComment" cols="30" rows="10" id="noTicketsComment"></textarea>
        <div class="tickets__form-wrapper">
            <div class="tickets__form-inner-attach btn-attach">
                <svg class="icon">
                    <use xlink:href="#attach"/>
                </svg>
                <input type="file" class="tickets__form-attach">
            </div>
            <button class="btn _special tickets__form-btn">Отправить</button>
        </div>
    </form>
</section>