
<section class="modal modal-form _reg js-reg">
    <div class="modal-form__reg-inner">
        <button class="modal-form__reg-back js-reg-back">
            <svg class="icon">
                <use xlink:href="#arrow-left"/>
            </svg>
        </button>
        {% include '../modules/logo.twig' %}
    </div>

    <p class="modal-form__title">Регистрация</p>
    <form  class="modal-form__form" action="">
        <label for="regEmail" class="label modal-form__label">Email</label>
        <input type="email" class="input modal-form__input" id="regEmail" placeholder="Ivanov@mail.ru">
        <label for="regTel" class="label modal-form__label">Телефон</label>
        <input type="email" class="input modal-form__input js-tel" id="regTel" placeholder="+7 (___) ___ __ __">
        <label for="regFirstName" class="label modal-form__label">Имя</label>
        <input type="text" class="input modal-form__input" id="regFirstName" placeholder="Иван">
        <label for="regLastName" class="label modal-form__label">Фамилия</label>
        <input type="text" class="input modal-form__input" id="regLastName" placeholder="Иванов">
        <label for="regPatronymic" class="label modal-form__label">Отчество</label>
        <input type="text" class="input modal-form__input" id="regPatronymic" placeholder="Иванович">
        <label for="regCity" class="label modal-form__label">Город</label>
        <select class="js-input input" id="regCity">
            <option value="Новосибирск">Новосибирск</option>
            <option value="Москва">Москва</option>
            <option value="Санкт-Петербург">Санкт-Петербург</option>
        </select>
        <label for="regShop" class="label modal-form__label">Магазин</label>
        <select class="js-input-search" id="regShop">
            <option value=""></option>
            <option value="Москва">Москва</option>
            <option value="Санкт-Петербург">Санкт-Петербург</option>
        </select>
        <button class="btn _special _reg">Зарегистрироваться</button>
        <p class="modal-form__form-text">
            Нажимая кнопку “Зарегистрироваться” Вы даете согласие на <a class="link" href="#">обработку персональных данных</a>
        </p>
    </form>
    <div class="modal-form__wrapper">
        <p class="modal-form__text-help">Есть аккаунт?</p>
        <button class="btn js-auth-btn">Вход</button>
    </div>
</section>