<section class="rules modal _standart qr-modal js-rules">
    <p class="modal__title">Правила соревнований:</p>
    <p class="modal__text">
        Создайте команду от 3 до 7 человек;
    </p>
    <p class="modal__text">
        За время соревнования (до 15 августа) участники команды будут проходить онлайн-обучения и сдавать тесты.
    </p>
    <p class="modal__text">
        Побеждает команда, чьи участники получили максимальный балл за выполнение тестов и выполнили максимальное
        количество заданий.
    </p>
    <p class="modal__text">
        Победит в соревновании только одна команда.
    </p>
</section>