<section class="modal _standart qr-modal js-start-exam">
    <p class="modal__title">Внимание</p>
    <p class="modal__text">
        После начала экзамена и до его завершения у вас не будет возможности смотреть презентацию или видео
    </p>
    <p class="modal__text">
        Экзамен можно сдавать только один раз. Если вы уверены, что внимательно изучили материал, смело приступайте к
        сдаче экзамена!
    </p>

    <div class="modal__btn-inner">
        <button class="btn _special">Начать экзамен</button>
        <button class="btn">Отменить</button>
    </div>
</section>